@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-styled.swal2-confirm{
  background-color: #00ABE4;
  font-family: 'Poppins';
  font-size: 'medium';
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
    
}
.swal2-title{
 font-family: 'Poppins';
 color: #083D77;
}
.modal{
  backdrop-filter: blur(2px);
}

@font-face {
  font-family: 'poetsen-one-regular';
  src: url('./assets/fonts/PoetsenOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.swal2-title{
  font-family: 'Poppins';
  color: #083D77;
 }
