<script setup>
const buttonList = [
  {
    name: "Facebook",
  },
  {
    name: "Instagram",
  },
  {
    name: "Twitter",
  },
  {
    name: "Linkedin",
  },
  {
    name: "Youtube",
  },
  {
    name: "Tiktok",
  },
];
</script>
<template>
  <div id="about" class="text-blue-53 font-bold text-[30px] lg:text-[40px] text-center pt-[40px] font-['Poppins']">
    About Us
  </div>
  <section class="text-gray-600 body-font">
    <div class=" mx-auto flex px-[30px] md:px-[120px] pb-[40px] md:pb-[104.56px] md:flex-row flex-col items-center">
      <div class=" md:block lg:max-w-lg lg:w-full md:w-1/2 w-5/6  md:mb-0">
        <img class="object-cover object-center rounded" alt="about us image" src="/images/about-us.png">
      </div>
      <div
        class="lg:flex-grow md:w-1/2 lg:pl-[81.43px] md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <p class="mb-8 mt-5 md:mt-[59px] leading-relaxed font-['Poppins'] text-blue-53 font-normal text-base">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="flex w-full md:justify-start justify-center items-end">
          <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4">
            <p class="title-font font-['Poppins'] text-[20px] font-bold mb-4  text-blue-53">We Deal With</p>
          </div>
        </div>
        <div class="gap-[24px] w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
          <button
            class="bg-transparent font-normal text-base  font-['Poppins'] w-full flex flex-row justify-center  hover:bg-blue-50 text-blue-53  hover:text-white py-2 px-6 border border-blue-53 hover:border-transparent rounded"
            v-for="button in buttonList" :key="button">
            {{ button.name }}
          </button>
        </div>
        <div class="w-full grid grid-cols-1 mt-9">
          <a href="#services"
            class="text-lg text-center inline-block font-['Poppins'] bg-blue-50 rounded hover:bg-blue-52 px-4 py-3 text-white">
            <button>
              Buy Now
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

