<script setup>
import IconLinkedin from './icons/IconLinkedin.vue'
import IconFacebook from './icons/IconFacebook.vue'
import IconTwitter from './icons/IconTwitter.vue'
import IconGoogleplus from './icons/IconGoogleplus.vue'
</script>

<template>
  <section>
    <footer class="bg-blue-53 min-h-full py-[40px] px-[120px]">
      <div class="flex flex-col items-center md:flex-row">
        <div class="basis-1/5">
          <a href="https://likes4u.co/"
            class="font-bold font-['poetsen-one-regular'] text-[32px] lg:text-[48px] text-[white]"> Likes4u</a>
        </div>
        <div
          class="md:basis-3/5 basis-full w-[100%] block  border-b-[1px] lg:mr-[36.75px] border-dashed  border-blue-50 justify-center">
        </div>
        <div class="basis-1/5 justify-center mt-4 md:mt-0">
          <ul class="flex gap-[40px]">
            <li>
              <IconLinkedin />
            </li>
            <li>
              <IconFacebook />
            </li>
            <li>
              <IconTwitter />
            </li>
            <li>
              <IconGoogleplus />
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </section>
</template>