<script setup>
import checkicon from "./icons/CheckIcon.vue";
import Modal from "./Modal.vue";
import { getImageUrl } from "../composables/image";
import { post } from "../composables/api";
import { ref, onMounted, watchEffect } from "vue";
import { storeToRefs } from "pinia";
import { useOrderStore } from "../store/order";
const products = ref([]);
const productDialog = ref(false);
const orderStore = useOrderStore();
const { orderDialog } = storeToRefs(orderStore);
const { setSelectedProduct, toggleOrderDialog } = orderStore;
const showBuyProductDialog = (product) => {
  setSelectedProduct(product);
  toggleOrderDialog();
};
watchEffect(() => {
  if (orderDialog.value) {
    document.body.style.overflow = 'hidden';
  } else {
    document.body.style.overflow = 'auto';
  }
});
// Get Product api call
const fetchProducts = async () => {
  const response = await post("/getProducts");
  products.value = response.data.products;
};
onMounted(() => {
  fetchProducts();
});
</script>
<template>
  <section id="services">
    <div class="w-full min-h-screen">
      <h2
        class="text-center  text-[30px] lg:text-[40px] text-blue-53 font-bold font-Poppins leading-[49.68px] mt-[54px] mb-[40px]">
        Our Services
      </h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[25px] px-[30px] md:px-[120px] lg:px-[120px] xl:px-[120px]">
        <div v-for="product in products" :key="product"
          class="flex shadow-4x1 flex-col bg-white rounded-md w-full flex-1 px-[26px] pt-[32px] pb-[24px] lg:even:mt-[80px] lg:odd:mb-[80px]">
          <img :src="`${getImageUrl()}${product.image}`" class="h-[78px] w-[78px] mx-auto" alt="" />
          <h3 class="text-center leading-[27.32px] text-blue-53 font-['Poppins'] font-semibold text-[22px] mt-[32px]">
            {{ product.name }}
          </h3>
          <p
            class="text-center font-['Poppins'] text-base font-light text-blue-53 opacity-[50%] text-[16px] leading-[19.87px] mt-[10px]">
            {{ product.description }}
          </p>
          <ul
            class="flex flex-col gap-[15px] md:text-left text-[15px] text-blue-53 font-['Poppins'] leading-[22.5px] mt-[24px]">
            <li class="flex flex-row items-center" v-for="feature in product.features">
              <checkicon />
              <span class="font-normal ml-[17px]">{{ feature }}</span>
            </li>
          </ul>
          <div @click="showBuyProductDialog(product)"
            class="text-center md:ml-[30px] hover:bg-blue-52 bg-blue-50 rounded text-[white] w-full text-[16px] md:w-[158px] md:h-[48px] mt-[24px] py-[14px] font-medium md:leading-[19.87px]">
            Buy Now
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="orderDialog" />
  </section>
</template>
