<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M10.4323 14.5435L6.46634 10.587C5.98331 10.1051 5.87552 9.5537 6.14296 8.93283C6.40939 8.31094 6.88581 8 7.57222 8H15.4278C16.1142 8 16.5906 8.31094 16.857 8.93283C17.1245 9.5537 17.0167 10.1051 16.5337 10.587L12.5677 14.5435C12.4152 14.6957 12.25 14.8098 12.072 14.8859C11.894 14.962 11.7034 15 11.5 15C11.2966 15 11.106 14.962 10.928 14.8859C10.75 14.8098 10.5848 14.6957 10.4323 14.5435Z"
      fill="black"
      fill-opacity="0.7"
    />
  </svg>
</template>
