<template>
  <svg
    width="16.67"
    height="16.67"
    viewBox="0 0 18 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.00008 0.666626C4.40008 0.666626 0.666748 4.39996 0.666748 8.99996C0.666748 13.6 4.40008 17.3333 9.00008 17.3333C13.6001 17.3333 17.3334 13.6 17.3334 8.99996C17.3334 4.39996 13.6001 0.666626 9.00008 0.666626ZM6.74175 12.575L3.75008 9.58329C3.67293 9.50614 3.61173 9.41455 3.56998 9.31374C3.52822 9.21294 3.50673 9.1049 3.50673 8.99579C3.50673 8.88668 3.52822 8.77864 3.56998 8.67784C3.61173 8.57704 3.67293 8.48544 3.75008 8.40829C3.82723 8.33114 3.91882 8.26994 4.01963 8.22819C4.12043 8.18643 4.22847 8.16494 4.33758 8.16494C4.44669 8.16494 4.55473 8.18643 4.65553 8.22819C4.75634 8.26994 4.84793 8.33114 4.92508 8.40829L7.33341 10.8083L13.0667 5.07496C13.2226 4.91914 13.4339 4.83161 13.6542 4.83161C13.8746 4.83161 14.0859 4.91914 14.2417 5.07496C14.3976 5.23077 14.4851 5.4421 14.4851 5.66246C14.4851 5.88281 14.3976 6.09414 14.2417 6.24996L7.91675 12.575C7.83965 12.6522 7.74808 12.7135 7.64727 12.7553C7.54646 12.7971 7.43839 12.8187 7.32925 12.8187C7.22011 12.8187 7.11204 12.7971 7.01123 12.7553C6.91042 12.7135 6.81884 12.6522 6.74175 12.575Z"
      fill="#083D77"
    />
  </svg>
</template>
