<template>
  <svg
    width="22"
    height="22"
    viewBox="0 0 22 22"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M18.6917 3.30834C14.4667 -0.916663 7.5334 -0.916663 3.3084 3.30834C-0.916601 7.53334 -0.916601 14.4667 3.3084 18.6917C7.5334 22.9167 14.3584 22.9167 18.5834 18.6917C22.8084 14.4667 22.9167 7.53334 18.6917 3.30834ZM14.0334 15.55L11.0001 12.5167L7.96673 15.55L6.45007 14.0333L9.4834 11L6.45007 7.96667L7.96673 6.45L11.0001 9.48334L14.0334 6.45L15.5501 7.96667L12.5167 11L15.5501 14.0333L14.0334 15.55Z"
      fill="#083D77"
    />
  </svg>
</template>
