<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12 21C10.75 21 9.57933 20.7627 8.488 20.288C7.396 19.8127 6.446 19.1707 5.638 18.362C4.82933 17.554 4.18733 16.604 3.712 15.512C3.23733 14.4207 3 13.25 3 12C3 10.75 3.23733 9.579 3.712 8.487C4.18733 7.39567 4.82933 6.44567 5.638 5.637C6.446 4.829 7.396 4.18733 8.488 3.712C9.57933 3.23733 10.75 3 12 3C13.3667 3 14.6627 3.29167 15.888 3.875C17.1127 4.45833 18.15 5.28333 19 6.35V4H21V10H15V8H17.75C17.0667 7.06667 16.225 6.33333 15.225 5.8C14.225 5.26667 13.15 5 12 5C10.05 5 8.396 5.679 7.038 7.037C5.67933 8.39567 5 10.05 5 12C5 13.95 5.67933 15.604 7.038 16.962C8.396 18.3207 10.05 19 12 19C13.75 19 15.279 18.4333 16.587 17.3C17.8957 16.1667 18.6667 14.7333 18.9 13H20.95C20.7 15.2833 19.721 17.1873 18.013 18.712C16.3043 20.2373 14.3 21 12 21ZM14.8 16.2L11 12.4V7H13V11.6L16.2 14.8L14.8 16.2Z"
      fill="#083D77"
    />
  </svg>
</template>
