<template>
  <svg
    width="20.29"
    height="21.67"
    viewBox="0 0 22 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12.3303 0.91207C11.9499 0.616202 11.4818 0.455566 11 0.455566C10.5181 0.455566 10.05 0.616202 9.66962 0.91207L0.58695 7.9754C-0.227717 8.61132 0.220783 9.91674 1.2532 9.91674H2.33328V18.5834C2.33328 19.158 2.56156 19.7091 2.96789 20.1155C3.37421 20.5218 3.92531 20.7501 4.49995 20.7501H8.83328V14.2501C8.83328 13.6754 9.06156 13.1243 9.46789 12.718C9.87422 12.3117 10.4253 12.0834 11 12.0834C11.5746 12.0834 12.1257 12.3117 12.532 12.718C12.9383 13.1243 13.1666 13.6754 13.1666 14.2501V20.7501H17.5C18.0746 20.7501 18.6257 20.5218 19.032 20.1155C19.4383 19.7091 19.6666 19.158 19.6666 18.5834V9.91674H20.7467C21.778 9.91674 22.2287 8.61132 21.4129 7.97649L12.3303 0.91207Z"
      fill="white"
    />
  </svg>
</template>
