<template>
  <svg
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M32 16C32 24.8377 24.8377 32 16 32C7.1623 32 0 24.8377 0 16C0 7.1623 7.1623 0 16 0C24.8377 0 32 7.1623 32 16Z"
      fill="#395398"
    />
    <path
      d="M16.9408 28.372V17.8267H20.4784L21.0068 13.7188H16.9376V11.0962C16.9376 9.90727 17.2662 9.09535 18.9738 9.09535H21.1486V5.41915C20.7716 5.3676 19.4796 5.25806 17.9782 5.25806C14.8401 5.25806 12.6943 7.17187 12.6943 10.6902V13.722H9.14697V17.8299H12.6943V28.3753H16.9408V28.372Z"
      fill="white"
    />
  </svg>
</template>
