<template>
  <svg
    width="78"
    height="78"
    viewBox="0 0 78 78"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M78 38.4073C78 28.368 74.2531 19.2037 68.08 12.227C60.8885 4.69352 50.7457 0 39.5052 0C17.6842 0 0 17.6842 0 39.5052C0 49.5445 3.74686 58.7088 9.92004 65.6854C17.1115 73.219 27.2543 77.9125 38.4949 77.9125C60.3158 77.9125 78 60.2283 78 38.4073Z"
      fill="url(#paint0_linear_506_42)"
    />
    <path
      d="M49.1149 63.9673H28.885C19.9116 63.9673 12.6008 56.6645 12.6008 47.6831V29.8557C12.6008 20.8743 19.9036 13.5715 28.885 13.5715H49.1149C58.0882 13.5715 65.399 20.8743 65.399 29.8557V47.6831C65.399 56.6645 58.0962 63.9673 49.1149 63.9673ZM28.8929 17.1991C21.9083 17.1991 16.2284 22.879 16.2284 29.8636V47.6911C16.2284 54.6757 21.9083 60.3556 28.8929 60.3556H49.1228C56.1074 60.3556 61.7874 54.6757 61.7874 47.6911V29.8636C61.7874 22.879 56.1074 17.1991 49.1228 17.1991H28.8929Z"
      fill="white"
    />
    <path
      d="M39.004 53.2675C31.0091 53.2675 24.5098 46.7682 24.5098 38.7733C24.5098 30.7784 31.0091 24.2791 39.004 24.2791C46.9989 24.2791 53.4982 30.7784 53.4982 38.7733C53.4982 46.7602 46.9989 53.2675 39.004 53.2675ZM39.004 27.8986C33.0058 27.8986 28.1293 32.7751 28.1293 38.7733C28.1293 44.7715 33.0058 49.6479 39.004 49.6479C45.0022 49.6479 49.8787 44.7715 49.8787 38.7733C49.8787 32.7751 45.0022 27.8986 39.004 27.8986Z"
      fill="white"
    />
    <path
      d="M56.2824 24.7246C56.2824 26.3872 54.938 27.7316 53.2754 27.7316C51.6127 27.7316 50.2683 26.3872 50.2683 24.7246C50.2683 23.0619 51.6127 21.7175 53.2754 21.7175C54.938 21.7175 56.2824 23.0619 56.2824 24.7246Z"
      fill="white"
    />
    <defs>
      <linearGradient
        id="paint0_linear_506_42"
        x1="-15.8653"
        y1="99.6036"
        x2="104.017"
        y2="-32.8983"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F9ED32" />
        <stop offset="0.0479" stop-color="#F8E236" />
        <stop offset="0.1329" stop-color="#F7C441" />
        <stop offset="0.245" stop-color="#F49354" />
        <stop offset="0.3784" stop-color="#F0506D" />
        <stop offset="0.4486" stop-color="#EE2A7B" />
        <stop offset="0.5443" stop-color="#BD2A96" />
        <stop offset="0.71" stop-color="#6D2AC3" />
        <stop offset="0.8465" stop-color="#322AE3" />
        <stop offset="0.9467" stop-color="#0E2AF7" />
        <stop offset="1" stop-color="#002AFF" />
      </linearGradient>
    </defs>
  </svg>
</template>
