<template>
  <svg
    width="25"
    height="20.31"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M23.25 2.40441V21.5956C23.25 22.0344 23.0757 22.4552 22.7654 22.7654C22.4552 23.0757 22.0344 23.25 21.5956 23.25H2.40441C1.96563 23.25 1.54483 23.0757 1.23457 22.7654C0.924304 22.4552 0.75 22.0344 0.75 21.5956L0.75 2.40441C0.75 1.96563 0.924304 1.54483 1.23457 1.23457C1.54483 0.924304 1.96563 0.75 2.40441 0.75L21.5956 0.75C22.0344 0.75 22.4552 0.924304 22.7654 1.23457C23.0757 1.54483 23.25 1.96563 23.25 2.40441V2.40441ZM7.36765 9.35294H4.05882V19.9412H7.36765V9.35294ZM7.66544 5.71324C7.66718 5.46295 7.61961 5.21477 7.52544 4.98287C7.43127 4.75097 7.29234 4.53989 7.11659 4.36168C6.94084 4.18348 6.73171 4.04163 6.50114 3.94425C6.27057 3.84686 6.02308 3.79585 5.77279 3.79412H5.71324C5.20425 3.79412 4.71612 3.99631 4.35621 4.35621C3.99631 4.71612 3.79412 5.20425 3.79412 5.71324C3.79412 6.22222 3.99631 6.71035 4.35621 7.07026C4.71612 7.43016 5.20425 7.63235 5.71324 7.63235V7.63235C5.96354 7.63851 6.2126 7.59529 6.44619 7.50516C6.67979 7.41502 6.89333 7.27975 7.07463 7.10706C7.25592 6.93437 7.40141 6.72765 7.50279 6.49871C7.60416 6.26977 7.65943 6.0231 7.66544 5.77279V5.71324ZM19.9412 13.5088C19.9412 10.3257 17.9162 9.08824 15.9044 9.08824C15.2457 9.05525 14.5899 9.19555 14.0023 9.49513C13.4148 9.79471 12.9161 10.2431 12.5559 10.7956H12.4632V9.35294H9.35294V19.9412H12.6618V14.3096C12.6139 13.7328 12.7956 13.1604 13.1673 12.7168C13.5391 12.2732 14.0708 11.9942 14.6471 11.9404H14.7728C15.825 11.9404 16.6059 12.6022 16.6059 14.2699V19.9412H19.9147L19.9412 13.5088Z"
      fill="white"
    />
  </svg>
</template>
