<template>
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M14.3043 23.5689C12.2926 24.0218 10.8333 22.2928 10.8333 20.5833L10.8333 5.41659C10.8333 3.70709 12.2926 1.97809 14.3043 2.43093C19.1382 3.51859 22.75 7.83676 22.75 12.9999C22.75 18.1631 19.1382 22.4813 14.3043 23.5689ZM8.34925 17.0158C8.1461 17.2189 7.87059 17.333 7.58333 17.333C7.29607 17.333 7.02057 17.2189 6.81742 17.0158L3.56742 13.7658C3.36432 13.5627 3.25023 13.2872 3.25023 12.9999C3.25023 12.7127 3.36432 12.4372 3.56742 12.234L6.81742 8.98401C7.02173 8.78667 7.29539 8.67748 7.57943 8.67994C7.86348 8.68241 8.13519 8.79635 8.33605 8.9972C8.53691 9.19806 8.65085 9.46978 8.65331 9.75382C8.65578 10.0379 8.54659 10.3115 8.34925 10.5158L6.9485 11.9166L16.25 11.9166C16.5373 11.9166 16.8129 12.0307 17.016 12.2339C17.2192 12.4371 17.3333 12.7126 17.3333 12.9999C17.3333 13.2872 17.2192 13.5628 17.016 13.766C16.8129 13.9691 16.5373 14.0833 16.25 14.0833L6.9485 14.0833L8.34925 15.484C8.55234 15.6872 8.66643 15.9627 8.66643 16.2499C8.66643 16.5372 8.55234 16.8127 8.34925 17.0158Z" fill="white"/>
</svg>

</template>