<template>
    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M54 27C54 41.9136 41.9136 54 27 54C12.0864 54 0 41.9136 0 27C0 12.0864 12.0864 0 27 0C41.9136 0 54 12.0864 54 27Z" fill="#395398"/>
<path d="M28.5876 47.878V30.0828H34.5574L35.449 23.1507H28.5821V18.725C28.5821 16.7187 29.1367 15.3486 32.0183 15.3486H35.6883V9.14502C35.0521 9.05803 32.8719 8.87317 30.3383 8.87317C25.0427 8.87317 21.4217 12.1027 21.4217 18.0399V23.1561H15.4355V30.0882H21.4217V47.8834H28.5876V47.878Z" fill="white"/>
</svg>

</template>