<script setup>
import { post } from '../../composables/api'
import { getImageUrl } from '../../composables/image';
import { ref, onMounted } from 'vue'
const orders = ref([]);
const fetchOrders = async () => {
const response = await post('/getAllOrders')
orders.value = response.data.order;
};
onMounted(() => {
   fetchOrders();
});
</script>
<template>
   <div class="bg-gray-50 h-max px-[54px] pb-[4px]">
   <div class="text-7xl text-blue-53 font-['Poppins'] font-semibold">Order Management</div>
   <div class="font-normal font-['Poppins'] text-blue-53 opacity-[50%] text-2xl mb-3">Today</div>
   <!-- order List Div start -->
   <div v-for="order in orders.Today_Order" :key="order"
      class="flex md:flex-row flex-col items-center justify-start rounded  mb-4 px-4 py-4 bg-white border border-blue-50">
      <div class="flex basis-[5%]">
         <img :src="`${getImageUrl()}${order.product.image}`" class="mt-2 md:mt-0 w-[32px] h-[32px]">
      </div>
      <div class="text-blue-53 font-['Poppins'] flex flex-1 mt-2 md:px-0 md:mt-0 text-[22px] font-medium basis-[40%]">{{ order.product.name }}
      </div>
      <div class="text-blue-53 font-['Poppins']  flex flex-1 opacity-[50%] text-base font-light basis-[30%]">{{
         order.quantity }}</div>
      <div class="text-blue-53 font-['Poppins'] basis-[20%]">
         <button type="button" class=" text-white focus:outline-none  rounded-full text-sm w-[92px] h-[27px] text-center"
            :class="{
               'bg-red-base': order.api_order_status == 'Canceled',
               'bg-green-base': order.api_order_status == 'Completed',
               'bg-orange-base': order.api_order_status == 'Pending',
               'bg-yellow-700': order.api_order_status == 'Processing',
            }">{{ order.api_order_status }}</button>
      </div>
      <div class="text-blue-53 font-['Poppins'] text-4xl font-medium basis-[5%]">${{ order.amount }}</div>
   </div>
   <!-- YesterDay Orders -->
   <div class="font-normal font-['Poppins'] text-blue-53 opacity-[50%] text-2xl mb-3">Yesterday</div>
   <div v-for="order in orders.Yesterday_Order" :key="order"
      class="flex md:flex-row flex-col rounded items-center justify-start  mb-4 px-4 py-4 bg-white border border-blue-50">
      <div class="flex basis-[5%]">
         <img :src="`${getImageUrl()}${order.product.image}`" class=" mt-2 md:mt-0 w-[32px] h-[32px]">
      </div>
      <div class="text-blue-53 font-['Poppins'] flex  flex-1 text-[22px] mt-2 md:px-0 md:mt-0 font-medium basis-[40%]">{{ order.product.name }}
      </div>
      <div class="text-blue-53 font-['Poppins']  flex flex-1 opacity-[50%] text-base font-light basis-[30%]">{{
         order.quantity }}</div>
      <div class="text-blue-53 font-['Poppins'] basis-[20%]">
         <button type="button" class="text-white  focus:outline-none  rounded-full text-sm w-[92px] h-[27px] text-center"
            :class="{
               'bg-red-base': order.api_order_status == 'Canceled',
               'bg-green-base': order.api_order_status == 'Completed',
               'bg-orange-base': order.api_order_status == 'Pending',
               'bg-yellow-700': order.api_order_status == 'Processing',
            }">{{ order.api_order_status }}</button>
      </div>
      <div class="text-blue-53 font-['Poppins'] text-4xl font-medium basis-[5%]">${{ order.amount }}</div>
   </div>
   <!-- Last 30 Days Order List -->
   <div class="font-normal font-['Poppins'] text-blue-53 opacity-[50%] text-2xl mb-3">Last 30 Days</div>
   <div v-for="order in orders.Month_Order" :key="order"
      class="flex md:flex-row flex-col rounded items-center justify-start mb-4 px-4 py-4 bg-white border border-blue-50">
      <div class="flex basis-[5%]">
         <img :src="`${getImageUrl()}${order.product.image}`" class="mt-2 md:mt-0 w-[32px] h-[32px]">
      </div>
      <div class="text-blue-53 font-['Poppins'] flex  flex-1 text-[22px] mt-2 md:px-0 md:mt-0 font-medium basis-[40%] ">{{ order.product.name }}
      </div>
      <div class="text-blue-53 font-['Poppins']  flex flex-1 opacity-[50%] text-base font-light basis-[30%]">{{
         order.quantity }}</div>
      <div class="text-blue-53 font-['Poppins'] basis-[20%]">
         <button type="button" class="text-white  focus:outline-none  rounded-full text-sm w-[92px] h-[27px] text-center"
            :class="{
               'bg-red-base': order.api_order_status == 'Canceled',
               'bg-green-base': order.api_order_status == 'Completed',
               'bg-orange-base': order.api_order_status == 'Pending',
               'bg-yellow-700': order.api_order_status == 'Processing',
            }">{{ order.api_order_status }}</button>
      </div>
      <div class="text-blue-53 font-['Poppins'] text-4xl font-medium basis-[5%]">${{ order.amount }}</div>
   </div>
   <!-- Previous Order -->
   <div class="font-normal font-['Poppins'] text-blue-53 opacity-[50%] text-2xl mb-3">Previous Orders</div>
   <div v-for="order in orders.Previous_Order" :key="order"
      class="flex md:flex-row flex-col rounded items-center justify-start mb-4 px-4 py-4 bg-white border border-blue-50">
      <div class="flex basis-[5%]">
         <img :src="`${getImageUrl()}${order.product.image}`" class="mt-2 md:mt-0 w-[32px] h-[32px]">
      </div>
      <div class="text-blue-53 font-['Poppins'] flex  flex-1 text-[22px] font-medium basis-[40%]">{{ order.product.name }}
      </div>
      <div class="text-blue-53 font-['Poppins']  flex flex-1 opacity-[50%] text-base font-light basis-[30%]">{{
         order.product.description }}</div>
      <div class="text-white font-['Poppins'] basis-[20%]">
         <button type="button" class="text-white  focus:outline-none  rounded-full text-sm w-[92px] h-[27px] text-center"
            :class="{
               'bg-red-base': order.api_order_status == 'Canceled',
               'bg-green-base': order.api_order_status == 'Completed',
               'bg-orange-base': order.api_order_status == 'Pending',
               'bg-yellow-700': order.api_order_status == 'Processing',
            }">{{ order.api_order_status }}</button>
      </div>
      <div class="text-blue-53 font-['Poppins'] text-4xl font-medium basis-[5%]">${{ order.amount }}</div>
   </div>
</div>
</template>