<template>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.99999 1.66669C5.39999 1.66669 1.66666 5.40002 1.66666 10C1.66666 14.6 5.39999 18.3334 9.99999 18.3334C14.6 18.3334 18.3333 14.6 18.3333 10C18.3333 5.40002 14.6 1.66669 9.99999 1.66669ZM7.74166 13.575L4.74999 10.5834C4.67284 10.5062 4.61164 10.4146 4.56988 10.3138C4.52813 10.213 4.50664 10.105 4.50664 9.99585C4.50664 9.88674 4.52813 9.7787 4.56988 9.6779C4.61164 9.5771 4.67284 9.48551 4.74999 9.40835C4.82714 9.3312 4.91873 9.27 5.01954 9.22825C5.12034 9.18649 5.22838 9.165 5.33749 9.165C5.4466 9.165 5.55464 9.18649 5.65544 9.22825C5.75625 9.27 5.84784 9.3312 5.92499 9.40835L8.33332 11.8084L14.0667 6.07502C14.2225 5.91921 14.4338 5.83167 14.6542 5.83167C14.8745 5.83167 15.0858 5.91921 15.2417 6.07502C15.3975 6.23083 15.485 6.44216 15.485 6.66252C15.485 6.88288 15.3975 7.09421 15.2417 7.25002L8.91666 13.575C8.83956 13.6523 8.74799 13.7136 8.64718 13.7554C8.54637 13.7972 8.4383 13.8187 8.32916 13.8187C8.22002 13.8187 8.11195 13.7972 8.01114 13.7554C7.91033 13.7136 7.81875 13.6523 7.74166 13.575Z"
            fill="#083D77" />
    </svg>
</template>