<template>
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M25.5 13.0758C25.5 6.13 19.9042 0.5 13 0.5C6.09583 0.5 0.5 6.13 0.5 13.0758C0.5 19.3542 5.07 24.5567 11.0467 25.5V16.7117H7.87333V13.075H11.0467V10.305C11.0467 7.15333 12.9125 5.41167 15.7683 5.41167C17.135 5.41167 18.5667 5.6575 18.5667 5.6575V8.7525H16.9892C15.4367 8.7525 14.9533 9.7225 14.9533 10.7175V13.0758H18.42L17.8658 16.7108H14.9533V25.5C20.93 24.5567 25.5 19.3542 25.5 13.0758Z"
            fill="white" />
    </svg>
</template>