<template>
    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M14 0.875C6.75195 0.875 0.875 6.75195 0.875 14C0.875 21.248 6.75195 27.125 14 27.125C21.248 27.125 27.125 21.248 27.125 14C27.125 6.75195 21.248 0.875 14 0.875ZM15.0693 17.2461C13.7832 19.0566 11.1992 19.584 9.18359 18.8076C7.16211 18.0371 5.72656 15.9014 5.89941 13.7246C5.94336 11.0615 8.39551 8.72656 11.0586 8.81738C12.3359 8.75879 13.5371 9.3125 14.5156 10.0947C14.0967 10.5693 13.666 11.0264 13.2031 11.4512C12.0283 10.6396 10.3555 10.4082 9.18066 11.3457C7.49902 12.5088 7.42285 15.2539 9.04004 16.5049C10.6133 17.9316 13.5869 17.2227 14.0234 15.0371C13.0391 15.0225 12.0488 15.0371 11.0645 15.0049C11.0615 14.416 11.0586 13.8301 11.0615 13.2412C12.708 13.2354 14.3574 13.2324 16.0068 13.2471C16.1035 14.6328 15.9189 16.1035 15.0693 17.2461ZM22.1738 14.7178C21.6816 14.7236 21.1895 14.7266 20.6973 14.7295C20.6914 15.2217 20.6885 15.7139 20.6885 16.2061H19.2148C19.209 15.7139 19.209 15.2246 19.2061 14.7324C18.7139 14.7266 18.2217 14.7236 17.7295 14.7178V13.25C18.2217 13.2441 18.7139 13.2412 19.2061 13.2412C19.209 12.749 19.2148 12.2568 19.2178 11.7646H20.6885L20.6973 13.2412C21.1895 13.2471 21.6816 13.2471 22.1738 13.25V14.7178Z"
            fill="white" />
    </svg>
</template>