<script setup>
useHead({
  title: "Admin Dashboard",
});

definePageMeta({
  layout: "admin-layout",
  middleware: ["auth"]
})

const newOrder = ref([]);
const orderCount = ref([]);

const fetchCount = async () => {
  const res = await post("/getStatus");
  orderCount.value = res.data.orders;
  console.log(orderCount);
};

const getOrder = async () => {
  const res = await post("/getAllOrders");
  newOrder.value = res.data.order;
  console.log(newOrder);
};

onMounted(() => {
  fetchCount();
  getOrder();
});


const orderStatus = computed(() => [
  {
    status: "Completed Orders",
    day: "last 30 days",
    count: orderCount.value.Completed_orders_count,
  },

  {
    status: "Pending Orders",
    day: "last 30 days",
    count: orderCount.value.Pending_orders_count,
  },

  {
    status: "Cancel Orders",
    day: "last 30 days",
    count: orderCount.value.Canceled_orders_count,
  },
]);
</script>

<template>
  <div class="px-[54px] py-[8px] font-Poppins bg-gray-section min-w-full h-fit">
    <div class="mb-[32px]">
      <h1 class="text-[32px] font-semibold text-[#083D77]">Analytics</h1>
      <span class="font-light text-[16px] text-[#083d7766]">
        Hello Admin, welcome back!
      </span>
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-[36px]">
        <!--first div element- min-w-full  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[34px]-->
        <div
          v-for="order in orderStatus"
          :key="order"
          class="flex flex-col items-center shadow-custom bg-[white] rounded-lg py-[12px] mt-[8px] md:mt-0"
        >
          <h3 class="font-bold text-[#083D77] text-[36px]">
            {{ order.count }}
          </h3>
          <span class="text-[16px] px-[24px] font-medium text-[#00ABE4]">{{
            order.status
          }}</span>
          <span class="font-light text-[14px]">{{ order.day }}</span>
        </div>
      </div>
    </div>
    <div>
      <!--Order details -->

      <h2 class="text-[24px] font-semibold text-[#083D77] pt-[24px]">
        New Orders
      </h2>

      <!-- today orders-->
      <p class="font-normal text-[24px] text-[#083d7766] pt-[7px] pb-[16px]">
        Today
      </p>
      <div
        v-for="order in newOrder.Today_Order"
        :key="order"
        class="flex flex-row flex-wrap items-center justify-center md:justify-between bg-[white] px-[16px] py-[16px] rounded-[1px] border-[1px] border-[#00abe480] mb-[16px]"
      >
        <div class="flex flex-row justify-center items-center">
          <img
            :src="`http://127.0.0.1:8000${order.product.image}`"
            class="w-[32px] h-[32px]"
            alt=""
          />
          <div class="text-[#083D77] text-[22px] font-medium ml-[24px]">
            {{ order.product.name }}
          </div>
        </div>

        <div class="flex flex-row">5000 Facebook Page Likes</div>
        <div class="flex flex-row justify-evenly items-center">
          <div
            class="mr-[24px] rounded-[14px] px-[12px] py-[6px]"
            :class="{
              'bg-[#F22501] text-[white] ': order.api_order_status == 'pending',
              'bg-[#58BB3F] text-[white]':
                order.api_order_status == 'Processing',
              'bg-[#4b1afd] text-[white]':
                order.api_order_status == 'completed',
              'bg-yellow text-[white]': order.api_order_status == 'canceled',
            }"
          >
            {{ order.api_order_status }}
          </div>
          <div class="font-medium text-[#083D77] text-[36px]">
            ${{ order.amount }}
          </div>
        </div>
      </div>
    </div>

    <!--Yesterday Order-->
    <div>
      <p class="font-normal text-[24px] text-[#083d7766] pt-[7px] pb-[16px]">
        Yesterday
      </p>
      <div
        v-for="order in newOrder.Yesterday_Order"
        :key="order"
        class="flex flex-row flex-wrap items-center justify-center md:justify-between bg-[white] px-[16px] py-[18px] rounded-[1px] border-[1px] border-[#00abe480] mb-[12px]"
      >
        <div class="flex flex-row justify-center items-center">
          <img
            :src="`http://127.0.0.1:8000${order.product.image}`"
            class="w-[32px] h-[32px]"
          />
          <div class="text-[#083D77] text-[22px] font-medium ml-[24px]">
            {{ order.product.name }}
          </div>
        </div>

        <div class="flex flex-row">5000 Facebook Page Likes</div>
        <div class="flex flex-row justify-evenly items-center">
          <div
            class="mr-[54px] px-[12px] py-[6px] rounded-[14px]"
            :class="{
              'bg-[#F22501] text-[white] text-center':
                order.api_order_status == 'pending',
              'bg-[#4b1afd] text-[white]':
                order.api_order_status == 'completed',
              'bg-yellow text-[white]': order.api_order_status == 'canceled',
              'bg-[#58BB3F] text-[white]':
                order.api_order_status == 'Processing',
            }"
          >
            {{ order.api_order_status }}
          </div>
          <div class="font-medium text-[#083D77] text-[36px]">
            ${{ order.amount }}
          </div>
        </div>
      </div>
    </div>

    <!--last 30 days Order-->
    <div>
      <p class="font-normal text-[24px] text-[#083d7766] pt-[7px] pb-[16px]">
        Last 30 days
      </p>
      <div
        v-for="order in newOrder.Month_Order"
        :key="order"
        class="flex flex-row flex-wrap items-center justify-center md:justify-between bg-[white] px-[16px] mb-[16px] py-[18px] rounded-[1px] border-[1px] border-[#00abe480]"
      >
        <div class="flex flex-row justify-center items-center">
          <img
            :src="`http://127.0.0.1:8000${order.product.image}`"
            class="w-[32px] h-[32px]"
          />
          <div class="text-[#083D77] text-[22px] font-medium ml-[24px]">
            {{ order.product.name }}
          </div>
        </div>

        <div class="flex flex-row">5000 Facebook Page Likes</div>
        <div class="flex flex-row justify-evenly items-center">
          <button
            class="flex-1 mr-[54px] px-[12px] py-[6px] rounded-[14px]"
            :class="{
              'bg-[#F22501] text-[white] text-center':
                order.api_order_status == 'pending',
              'bg-[#4b1afd] text-[white]':
                order.api_order_status == 'completed',
              'bg-yellow text-[white]': order.api_order_status == 'canceled',
              'bg-[#58BB3F] text-[white]':
                order.api_order_status == 'Processing',
            }"
          >
            {{ order.api_order_status }}
          </button>
          <div class="font-medium text-[#083D77] text-[36px]">
            ${{ order.amount }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
