<template>
  <div>
    <div class="py-[24px] h-[106px] px-[54px] shadow-sm shadow-gray bg-[white]">
      <h1
        class="text-[#00ABE4] text-[48px] font-normal leading-[57.6px] font-Poppins"
      >
        Likes4u
      </h1>
    </div>
    <nav class="bg-[#083D77] w-[353px] h-screen z-10 hidden md:block">
      <div class="pt-[54px] flex flex-col px-[36px] text-center gap-[37px]">
        <Nuxtlink href="#" class="flex items-center px-[53px] py-[18px] hover:bg-red-500 hover:bg-gray-section w-full">
          <IconsHome class="mr-[32px]" />
          <span class="text-[white] font-normal text-[18px]">Home</span>
        </Nuxtlink>
        <NuxtLink href="#" class="flex items-center  hover:bg-red-500  hover:bg-gray-section">
          <IconsProduct class="mr-[32px]" />
          <span class="text-[white] font-normal text-[18px]"
            >Product Management</span
          >
        </NuxtLink>
        <NuxtLink href="#" class="flex items-center  hover:bg-red-500  hover:bg-gray-section">
          <IconsOrder class="mr-[32px]" />
          <span class="text-[white] font-normal text-[18px]"
            >Order Management</span
          >
        </NuxtLink>
      </div>
      <div class="absolute bottom-0 w-full">
        <button class="w-full py-3 text-left hover:bg-red-500">Logout</button>
      </div>
    </nav>
  </div>
</template>

<script></script>
