<script setup>
useHead({
  title: "Order",
});

const AllOrders = ref([]);

const FetchOrders = async () => {
  const res = await post("/getAllOrders");
  AllOrders.value = res.data.order;
  console.log(AllOrders,"api of getAll Orders");
};

onMounted(() => {
  FetchOrders();
});

definePageMeta({
  layout: "admin-layout",
    middleware: ["auth"]
});
</script>

<template>
  <div
    class="min-h-screen min-w-full bg-gray-section font-Poppins py-[13px] px-[54px]"
  >
    <div class="flex flex-col">
      <h1 class="text-[32px] text-[#083D77] font-semibold">Order Management</h1>

      <!--Today Orders-->
      <p class="text-[24px] text-[#083d7766] font-normal mt-[16px]">Today</p>
      <div
        v-for="order in AllOrders.Today_Order"
        :key="order"
        class="flex  flex-col md:flex-row  justify-between items-center bg-[white] px-[16px] rounded-[4px] py-[10px] mt-[13px] border-[1px] border-[#00abe480]"
      >
        <img
          :src="`${getImageUrl()}${order.product.image}`"
          class="h-[32px] w-[32px]"
        />
        <h2 class="text-[22px] font-medium text-[#083D77]">
          {{ order.product.name }}
        </h2>
        <span class="text-[16px] font-light text-gray"
          >5000 Facebook Page Likes</span
        >
        <button
          class="font-normal text-[12px] text-[white] rounded-[14px] px-[12px] py-[6px]"
          :class="{
            'bg-[#F22501] text-[white] ': order.api_order_status == 'pending',
            'bg-[#58BB3F] text-[white]': order.api_order_status == 'completed',
            'bg-yellow text-[white]': order.api_order_status == 'Canceled',
            'bg-yellow text-[white]': order.api_order_status == 'Processing',
          }"
        >
          {{ order.api_order_status }}
        </button>
        <span class="text-[36px] text-[#083D77] font-medium"
          >${{ order.amount }}</span
        >
      </div>

      <!--Yesterdy Order-->
      <p class="text-[24px] text-[#083d7766] font-normal mt-[16px]">
        Yesterday
      </p>
      <div
        v-for="order in AllOrders.Yesterday_Order"
        :key="order"
        class="flex md:flex-row flex-col justify-between items-center bg-[white] px-[16px] rounded-[4px] py-[10px] mt-[13px] border-[1px] border-[#00abe480]"
      >
        <img
          :src="`${getImageUrl()}${order.product.image}`"
          class="h-[32px] w-[32px]"
        />
        <h2 class="text-[22px] font-medium text-[#083D77]">
          {{ order.product.name }}
        </h2>
        <span class="text-[16px] font-light text-gray"
          >5000 Facebook Page Likes</span
        >
        <button
          class="font-normal text-[12px] text-[white] rounded-[14px] px-[12px] py-[6px]"
          :class="{
            'bg-[#F22501] text-[white] ': order.api_order_status == 'pending',
            'bg-[#58BB3F] text-[white]': order.api_order_status == 'completed',
            'bg-yellow text-[white]': order.api_order_status == 'Canceled',
            'bg-yellow text-[white]': order.api_order_status == 'Processing',
          }"
        >
          {{ order.api_order_status }}
        </button>
        <span class="text-[36px] text-[#083D77] font-medium"
          >${{ order.amount }}</span
        >
      </div>

      <!--Last 30 Days Orders-->
      <p class="text-[24px] text-[#083d7766] font-normal mt-[16px]">Monthly</p>
      <div
        v-for="order in AllOrders.Month_Order"
        :key="order"
        class="flex md:flex-row flex-col justify-between items-center bg-[white] px-[16px] rounded-[4px] py-[10px] mt-[13px] border-[1px] border-[#00abe480]"
      >
        <img
          :src="`${getImageUrl()}${order.product.image}`"
          class="h-[32px] w-[32px]"
        />
        <h2 class="text-[22px] font-medium text-[#083D77]">
          {{ order.product.name }}
        </h2>
        <span class="text-[16px] font-light text-gray"
          >5000 Facebook Page Likes</span
        >
        <button
          class="font-normal text-[12px] text-[white] rounded-[14px] px-[12px] py-[6px]"
          :class="{
            'bg-[#F22501] text-[white] text-center':
              order.api_order_status == 'pending',
            'bg-[#58BB3F] text-[white]': order.api_order_status == 'completed',
            'bg-yellow text-[white]': order.api_order_status == 'Canceled',
            'bg-yellow text-[white]': order.api_order_status == 'Processing',
          }"
        >
          {{ order.api_order_status }}
        </button>
        <span class="text-[36px] text-[#083D77] font-medium"
          >${{ order.amount }}</span
        >
      </div>
    </div>
  </div>
</template>

<style scoped></style>
