<script setup>
import { useProductStore } from "~~/stores/products";
import { storeToRefs } from "pinia";
const { $swal } = useNuxtApp();
const store = useProductStore();
const { productsList } = storeToRefs(store);
const { getProductsList, setSelectedProduct, AddNewProduct } = store;

const productModal = ref(false);

//delete current user
const DeleteProduct = async (id) => {
  const result = await new $swal({
    title: "Are you sure?",
    text: "Once deleted, you will not be able to recover this product!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#083D77",
    cancelButtonColor: "#3324d",
    confirmButtonText: "Yes, delete it!",
    allowOutsideClick: false,
  });
  if (result.isConfirmed) {
    const res = await del(`/deleteProduct/${id}`);
    getProductsList();
  }
};

const showProductUpdateModal = (product) => {
  setSelectedProduct(product);
  productModal.value = true;
};

const AddNewProductModal = () => {
  AddNewProduct();
  productModal.value = true;
};

onMounted(() => {
  getProductsList();
});

definePageMeta({
  layout: "admin-layout",
  middleware: ["auth"],
});

watchEffect(() => {
  if (process.client) {
    const body = document.body;
    if (productModal.value) {
      body.classList.add("no-scroll");
    } else {
      body.classList.remove("no-scroll");
    }
  }
});

useHead({
  title: "Products",
});
</script>

<template>
  <div class="font-Poppins bg-[#00ABE41A] min-w-full min-h-screen">
    <div
      class="flex flex-col lg:flex-row justify-between px-[54px] pt-[12px] gap-2"
    >
      <h1 class="text-[32px] text-[#083D77] font-semibold">
        Product Management
      </h1>
      <button
        @click="AddNewProductModal"
        class="text-[white] bg-custom-blue rounded font-semibold text-[16px] px-[24px] py-[12px]"
      >
        <span class="md:mr-[21px]">+</span> Add New Product
      </button>
    </div>
    <ProductModal v-if="productModal" @close-modal="productModal = false" />
    <div
      class="grid grid-col-1 md:grid-cols-2 gap-x-[14px] lg:gap-x-[55px] gap-y-[24px] px-[6px] lg:px-[54px] mt-[94px]"
    >
      <div
        v-for="product in productsList"
        :key="product"
        class="flex flex-col md:flex-wrap xl:flex-nowrap lg:flex-row items-center gap-[15px] md:gap-[24px] bg-[white] rounded-[9px] p-[24px] shadow shadow-nBox-shadow"
      >
        <img :src="`${getImageUrl()}${product.image}`" />
        <h2 class="text-[20px] font-semibold text-[#083D77]">
          {{ product.name }}
        </h2>

        <button @click="showProductUpdateModal(product)">
          <IconsEdit class="" />
        </button>
        <button @click="DeleteProduct(product.id)">
          <icon
            name="ic:sharp-delete"
            class="text-[#083D77] h-[24px] w-[24px]"
          />
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.no-scroll {
  overflow: hidden !important;
}
</style>
