<script setup>
import { post } from '../../composables/api'
import {getImageUrl} from '../../composables/image'
import { ref, onMounted, computed } from 'vue'
const ordercount = ref([]);
// Fetch Order Api call
const orders = ref([]);
const fetchOrders = async () => {
   const response = await post('/getAllOrders')
   orders.value = response.data.order;
};
const orderStatus = computed(() => [
   {
      status: "Complete Orders",
      day: "Last 30 Days",
      count: ordercount.value?.Completed_orders_count

   },
   {
      status: "Pending Orders",
      day: "Last 30 Days",
      count: ordercount.value?.Pending_orders_count
   },
   {
      status: "Cancel Orders",
      day: "Last 30 Days",
      count: ordercount.value?.Canceled_orders_count
   },
]);

const orderPrices = [
   {
      tdprice: "$120",
      ydprice: "$125",
      ldprice: "$130",
   },
];
// fetch count api call
const fetchCount = async () => {
   const response = await post('/getStatus')
   ordercount.value = response.data.orders;

};
onMounted(() => {
   fetchCount();
   fetchOrders();
});
</script>
<template>
   <div class="bg-gray-50 h-max px-[54px] pb-[4px]">
   <div class="grid grid-rows-2">
      <div class="text-7xl text-blue-53 font-['Poppins'] font-semibold">Analytics</div>
      <div class="font-light text-blue-53 opacity-[40%] text-base font-['Poppins']">Hello Admin, Welcome Back!</div>
   </div>
   <!--Order status div start -->
   <div class="pb-[24px] pt-[32px] mx-auto ">
      <div class="flex flex-wrap -m-4 ">
         <div class="p-4 lg:w-1/4 w-[193px]" v-for="order in orderStatus">
            <div
               class=" bg-white gap-[34px] h-115 px-8 pt-6 pb-[8rem] rounded-lg shadow-4x1 overflow-hidden text-center relative">
               <h2 class="title-font sm:text-2xl lg:text-4xl lg:font-semibold font-['Poppins'] text-blue-53">
                  {{ order.count }}
               </h2>
               <p class="leading-10 text-base font-medium font-['Poppins'] text-blue-50">{{ order.status }}</p>
               <p class="leading-tight font-['Poppins'] text-sm font-light text-gray-400">{{ order.day }}</p>
            </div>
         </div>
         <!-- Earning Div -->
         <!-- <div
            class=" bg-white shadow-4x1 justify-start gap-[34px] h-[211px] w-[250px] px-8 pt-6 pb-[8rem] rounded-lg overflow-hidden text-start relative">
            <h2 class="title-font sm:text-2xl lg:text-[32px] lg:font-semibold font-['Poppins'] text-blue-53">
               Earning
            </h2>
            <div class="grid grid-cols-3 grid-rows-3 text-start" v-for="price in orderPrices" :key="price">
               <div class="text-blue-50 text-base font-normal font-['Poppins'] leading-10 col-span-2">Today</div>
               <div class="text-blue-53 text-xl font-semibold font-['Poppins'] leading-10">{{ price.tdprice }}</div>
               <div class="text-blue-50 text-base font-normal font-['Poppins'] col-span-2">Yesterday</div>
               <div class="text-blue-53 text-xl font-semibold font-['Poppins']">{{ price.ydprice }}</div>
               <div class="text-blue-50 text-base font-normal font-['Poppins'] col-span-2">Last 30 Days</div>
               <div class="text-blue-53 text-xl font-semibold font-['Poppins']">{{ price.ldprice }}</div>
            </div>
         </div> -->
         <!-- Earning Div -->
      </div>
   </div>
   <!-- Order Status div End -->
   <div class="">
   <div class="text-2xl text-blue-53 font-['Poppins'] font-semibold pb-[7px]">New Orders</div>
   <div class="font-normal font-['Poppins'] text-blue-53 opacity-[50%] text-2xl mb-3">Today</div>
</div>
   <!-- Today  Order List start -->
   <div v-for="order in orders.Today_Order" :key="order"
      class="flex md:flex-row flex-col rounded items-center justify-start mb-4 py-2 md:px-4 md:py-4 bg-white border border-blue-50">
      <div class="flex basis-[5%]">
         <img :src="`${getImageUrl()}${order.product.image}`"  class=" mt-2 md:mt-0 w-[32px] h-[32px]">
      </div>
      <div class="text-blue-53 font-['Poppins'] flex  items-center px-1 mt-2 md:px-0 md:mt-0 flex-1 text-[22px] font-medium basis-[40%]">{{ order.product.name }}
      </div>
      <div class="text-blue-53 font-['Poppins']  flex flex-1 opacity-[50%] text-base font-light basis-[30%]">{{
         order.quantity }}</div>
      <div class="text-blue-53 mt-2 font-['Poppins'] basis-[20%]">
         <button type="button" class="text-white  focus:outline-none  rounded-full text-sm w-[92px] h-[27px] text-center"
            :class="{
               'bg-red-base': order.api_order_status == 'Canceled',
               'bg-green-base': order.api_order_status == 'Completed',
               'bg-orange-base': order.api_order_status == 'Pending',
               'bg-yellow-700': order.api_order_status == 'Processing',
            }">{{ order.api_order_status }}</button>
      </div>
      <div class="text-blue-53 font-['Poppins'] text-4xl font-medium basis-[5%] mt-3 md:mt-0">${{ order.amount }}</div>
   </div>
   <!--Yesterday Order List Start  -->
   <div class="font-normal font-['Poppins'] text-blue-53 opacity-[50%] text-2xl mb-3">Yesterday</div>
   <div v-for="order in orders.Yesterday_Order" :key="order"
      class="flex md:flex-row  flex-col rounded items-center justify-start mb-4 px-4 py-4 bg-white border border-blue-50">
      <!-- <div v-if="">
         No Order Exist
      </div> -->
      <div class="flex basis-[5%]">
         <img :src="`${getImageUrl()}${order.product.image}`" class=" mt-2 md:mt-0 w-[32px] h-[32px]">
      </div>
      <div class="text-blue-53 font-['Poppins'] flex  flex-1 text-[22px]  px-1 md:px-0 md:mt-0 font-medium basis-[40%]">{{ order.product.name }}
      </div>
      <div class="text-blue-53 font-['Poppins']  flex flex-1 opacity-[50%] text-base font-light basis-[30%]">{{
         order.quantity }}
      </div>
      <div class="text-blue-53 mt-2 md:mt-0 font-['Poppins'] basis-[20%]">
         <button type="button" class="text-white  focus:outline-none  rounded-full text-sm w-[92px] h-[27px] text-center"
            :class="{
               'bg-red-base': order.api_order_status == 'Canceled',
               'bg-green-base': order.api_order_status == 'Completed',
               'bg-orange-base': order.api_order_status == 'Pending',
               'bg-yellow-700': order.api_order_status == 'Processing',
            }">{{ order.api_order_status }}</button>
      </div>
      <div class="text-blue-53 font-['Poppins'] text-4xl font-medium basis-[5%] mt-3 md:mt-0">
         ${{ order.amount }}
      </div>
   </div>
   <!-- Last 30 Days Order List -->
   <div class="font-normal font-['Poppins'] text-blue-53 opacity-[50%] text-2xl mb-3">Last 30 Days</div>
   <div v-for="order in orders.Month_Order" :key="order"
      class="flex md:flex-row flex-col rounded items-center justify-start  mb-4 px-4 py-4 bg-white border border-blue-50">
      <div class="flex basis-[5%]">
         <img :src="`${getImageUrl()}${order.product.image}`" class=" mt-2 md:mt-0 w-[32px] h-[32px]">
      </div>
      <div class="text-blue-53 font-['Poppins'] flex  flex-1 text-[22px] font-medium basis-[40%] px-1 md:px-0 md:mt-0">{{ order.product.name }}
      </div>
      <div class="text-blue-53 font-['Poppins']  flex flex-1 opacity-[50%] text-base font-light basis-[30%]">{{
         order.quantity }}</div>
      <div class="text-blue-53 mt-2 md:mt-0 font-['Poppins'] basis-[20%]">
         <button type="button" class="text-white  focus:outline-none  rounded-full text-sm w-[92px] h-[27px] text-center"
            :class="{
               'bg-red-base': order.api_order_status == 'Canceled',
               'bg-green-base': order.api_order_status == 'Completed',
               'bg-orange-base': order.api_order_status == 'Pending',
               'bg-yellow-700': order.api_order_status == 'Processing',
            }">{{ order.api_order_status }}</button>
      </div>
      <div class="text-blue-53 font-['Poppins'] text-4xl font-medium basis-[5%] mt-3 md:mt-0">${{ order.amount }}</div>
   </div>
   <div>
      <div>
      </div>
   </div>
</div>
</template>