<script setup>
import { post } from '../../composables/login';
import { ref } from 'vue'
import { useRouter } from 'vue-router'
const email = ref('')
const password = ref('')
const router = useRouter();
const loginAdmin = async () => {
  const response = await post('/login', { email: email.value, password: password.value })
  const responseData = response.data;
  localStorage.setItem('admin-info', JSON.stringify(responseData))
  router.push({ path: '/admin' });
}
</script>
<template>
  <section>
    <div class="font-Poppins">
      <a href="https://likes4u.co/">
        <h1
          class="flex justify-center items-center font-['poetsen-one-regular']  text-blue-50 font-bold text-[48px] h-[106px] leading-[57px]">
          Likes4u
        </h1>
      </a>
      <div class="flex  flex-row justify-center bg-blue-54 py-[176px] rounded-lg ">
        <form @submit.prevent="loginAdmin" class="bg-[white] rounded px-[32px] py-[32px] shadow-4x1">
          <h2 class="text-center text-[36px] font-bold text-blue-53 px-[102px] py-[24px]">
            Login To <span class="text-blue-50">Likes4u</span>
          </h2>
          <hr class="w-full mx-auto border-blue-50 opacity-[10%] rounded" />
          <div class="flex flex-col justify-center pt-[48px] pb-[24px]">
            <label for="email" class="text-[16px] font-medium text-blue-53 mb-[8px]">Email</label>
            <input v-model="email" type="email"
              class="rounded border-[1px] border-blue-50 py-[12px] px-[12px] outline-0" />
          </div>
          <div class="flex flex-col justify-center pt-[24px]">
            <label for="password" class="text-[16px] font-medium text-blue-53 mb-[8px]">Password</label>
            <input v-model="password" type="password"
              class="rounded border-[1px] border-blue-50 py-[12px] px-[12px] outline-0" />
          </div>
          <button type="submit"
            class="text-center hover:bg-blue-52 bg-blue-50 rounded text-[white] text-[16px] w-full mt-[48px] p-4  font-medium md:leading-[19.87px] ">Login</button>
        </form>
      </div>
    </div>
  </section>
</template>
