<script setup>
import { storeToRefs } from "pinia";
import Swal from "sweetalert2";
import { post } from "../../composables/api";
import IconClose from "../../components/icons/IconClose.vue";
import { useProductStore } from "../../store/product";
const productstore = useProductStore();
const { selectedProduct } = storeToRefs(productstore);
const {
  AddProduct,
  addFeature,
  addPrice,
  removeFeature,
  removePrice,
  toggleProductDialog,
  setSelectedProduct,
} = productstore;
const closeAddProductDialog = () => {
  setSelectedProduct();
  toggleProductDialog();
};
// Update product api call
const updateProduct = async () => {
  const response = await post(`/updateProduct/${selectedProduct.value.id}`, {
    ...selectedProduct.value,
  });
  if (response.code == 200) {
    closeAddProductDialog();
    Swal.fire("Your Prodcut has been updated successfully");
  } else if (response.code == 401) {
    Swal.fire("Please Enter All Product Information");
  }
};
// Add Product api call
const AddProductapi = async () => {
  const response = await AddProduct();
  if (response.code == 200) {
    closeAddProductDialog();
    Swal.fire("Your Prodcut has been added successfully");
  } else if (response.code == 401) {
    Swal.fire("Please Enter All Product Data");
  }
};

// Base 64
const convertbase64 = (event) => {
  let fileInput = event;
  let file = fileInput.target.files[0];
  // Create a FileReader object
  let reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = () => {
    selectedProduct.value.image_data = reader.result;
  };
};
</script>
<template>
  <div class="modal-overlay font-['Poppins'] overflow-x-hidden overflow-y-auto px-[40px] md:p-[20px] z-10">
    <div class="modal-dialog mt-[90px] max-w-[720px] w-full">
      <div
        class="modal-content border-none shadow-lg relative flex flex-col pointer-events-auto w-full bg-white bg-clip-padding rounded-md outline-none text-current">
        <div
          class="modal-header w-full bg-gray-50 flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
          <h5 v-if="selectedProduct.id == null" class="text-2x2 text-blue-53 font-['Poppins'] font-semibold"
            id="exampleModalLgLabel">
            Add Product
          </h5>
          <h5 v-else="selectedProduct.id !== null" class="text-2x2 text-blue-53 font-['Poppins'] font-semibold"
            id="exampleModalLgLabel">
            Update Product
          </h5>
          <IconClose @click="closeAddProductDialog()" />
        </div>
        <div class="modal-body w-full relative p-4">
          <form>
            <div class="flex flex-row flex-wrap gap-x-[24px] mt-2">
              <div class="">
                <label id="fileInput" for="formFile" class="text-blue-53 text-base font-['Poppins'] font-light">
                  Upload Proudct Image
                </label>
                <input @change="convertbase64"
                  class="relative py-2 px-3 shadow appearance-none m-0 block min-w-0 flex-auto cursor-pointer rounded border border-solid bg-clip-padding text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out file:-mx-3 file:-my-1.5 file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-1.5 file:transition file:duration-150 file:ease-in-out file:[margin-inline-end:0.75rem] file:[border-inline-end-width:1px] focus:outline-blue-50"
                  type="file" id="formFile" />
              </div>
              <div class="w-full mt-[16px]">
                <label for="name" class="text-blue-53 text-base font-['Poppins'] font-light">
                  Enter Product Name
                </label>
                <br />
                <input v-model="selectedProduct.name"
                  class="shadow w-full appearance-none border text-gray-500 rounded py-2 px-3 focus:outline-blue-50"
                  type="text" />
              </div>
            </div>
            <div class="flex flex-col col-span-2 mt-5">
              <label for="Description" class="text-blue-53 text-base font-['Poppins'] font-light">
                Enter Product Description
              </label>
              <input v-model="selectedProduct.description"
                class="shadow appearance-none border text-gray-500 rounded py-2 px-3 focus:outline-blue-50" type="text" />
            </div>

            <!-- Features Section -->
            <div class="flex flex-col">
              <div class="mt-4" v-for="(feature, index) in selectedProduct.features" :key="index">
                <label for="Features" class="text-blue-53 text-base font-['Poppins'] font-light">
                  Enter Product Features
                </label>
                <div class="flex flex-col md:flex-row gap-[10px]">
                  <input v-model="selectedProduct.features[index]"
                    class="shadow w-full appearance-none border text-gray-500 rounded py-2 px-3 focus:outline-blue-50"
                    type="text" />
                </div>
                <button v-if="index === 0" @click="addFeature" type="button"
                  class="text-sm shadow font-['Poppins'] bg-blue-50 py-2 px-2 rounded text-white mt-3">
                  Add More Features
                </button>
                <button v-if="index != 0" @click="removeFeature(index)" type="button"
                  class="text-sm shadow font-['Poppins'] bg-blue-50 py-2 px-2 rounded text-white mt-3">
                  Remove Features
                </button>
              </div>
            </div>
            <!-- Price Name Section -->

            <div class="grid md:grid-cols-2 grid-rows-1 mt-8 gap-[24px]" v-for="(item, index) in selectedProduct.prices"
              :key="item">
              <div>
                <label for="name" class="text-blue-53 text-base font-['Poppins'] font-light">
                  Enter Product Price Name
                </label>
                <input v-model="selectedProduct.prices[index].name"
                  class="shadow appearance-none border text-gray-500 rounded w-full py-2 px-3 focus:outline-blue-50"
                  type="text" />
              </div>
              <div>
                <label for="amount" class="text-blue-53 text-base font-['Poppins'] font-light">
                  Enter Product Amount
                </label>
                <input v-model="selectedProduct.prices[index].amount"
                  class="shadow appearance-none border text-gray-500 rounded w-full py-2 px-3 focus:outline-blue-50"
                  type="text" />
              </div>
              <!-- Service Api key and quantity  -->
              <div>
                <label for="service id" class="text-blue-53 text-base font-['Poppins'] font-light">
                  Enter Api Service Id
                </label>
                <input v-model="selectedProduct.prices[index].api_service_id"
                  class="shadow appearance-none border w-full text-gray-500 rounded py-2 px-3 focus:outline-blue-50"
                  type="text" />
              </div>
              <div>
                <label for="quantity" class="text-blue-53 text-base font-['Poppins'] font-light">
                  Enter Api Quantity
                </label>
                <input v-model="selectedProduct.prices[index].api_quantity"
                  class="shadow appearance-none border w-full text-gray-500 rounded py-2 px-3 focus:outline-blue-50"
                  type="text" />
              </div>
              <div>
                <label for="quantity" class="text-blue-53 text-base font-['Poppins'] font-light">
                  Enter Stripe Price Id
                </label>
                <input v-model="selectedProduct.prices[index].strip_price_id"
                  class="shadow appearance-none border w-full text-gray-500 rounded py-2 px-3 focus:outline-blue-50"
                  type="text" />
                <button v-if="index === 0" @click="addPrice" type="button"
                  class="text-sm shadow w-[38%] font-['Poppins'] bg-blue-50 py-2 px-2 rounded text-white mt-3">
                  Add Price
                </button>
                <button v-if="index != 0" @click="removePrice(index)" type="button"
                  class="text-sm shadow font-['Poppins'] w-[38%] bg-blue-50 py-2 px-2 rounded text-white mt-3">
                  Remove Price
                </button>
              </div>
              <!-- Service api and qunatity -->
            </div>
            <!-- Price Name Section End -->
          </form>
          <div>
            <button v-if="selectedProduct.id == null" @click="AddProductapi"
              class="cursor-pointer font-['Poppins'] mt-5 mb-2 py-2 px-4 block text-base font-medium bg-blue-50 text-white w-full text-center rounded hover:bg-blue-52">
              Add Product
            </button>
            <button v-else="selectedProduct.id !== null" @click="updateProduct(selectedProduct.id)"
              class="cursor-pointer font-['Poppins'] mt-5 mb-2 py-2 px-4 block text-base font-medium bg-blue-50 text-white w-full text-center rounded hover:bg-blue-52">
              Update Product
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.modal {
  background-color: white;
  height: max-content;
  margin-top: 10%;
  border-radius: 10px;
}

.close {
  cursor: pointer;
}
</style>
