<script setup>
import IconEdit from '../../components/icons/IconEdit.vue';
import IconDelete from '../../components/icons/IconDelete.vue';
import { post } from '../../composables/api'
import { getImageUrl } from '../../composables/image';
import { del } from '../../composables/delete'
import ProductModal from './ProductModal.vue'
import { storeToRefs } from 'pinia'
import { useProductStore } from '../../store/product'
import { ref, onMounted, watchEffect } from 'vue'
import Swal from 'sweetalert2';
const products = ref([]);
const productStore = useProductStore()
const { productDialog } = storeToRefs(productStore)
const { toggleProductDialog, setSelectedProduct } = productStore;
const showAddProductDialog = () => {
  setSelectedProduct({
    image: null,
    name: null,
    description: null,
    features: [''],
    prices: [
      {
        name: null,
        amount: null,
        api_service_id: null,
        api_quantity: null,
      }
    ]
  });
  toggleProductDialog()
}
const showUpdateProductDialog = (product) => {
  setSelectedProduct(product);
  toggleProductDialog()

}
watchEffect(() => {
  if (productDialog.value) {
    document.body.style.overflow = 'hidden';
  } else {
    document.body.style.overflow = 'auto';
  }
});
// fetch product api call
const fetchProducts = async () => {
  const response = await post('/getProducts')
  products.value = response.data.products;
};
// delete api call
// Swal.fire({
//       title: 'Are you sure?',
//       text: 'You will not be able to recover this item!',
//       icon: 'warning',
//       showCancelButton: true,
//       confirmButtonColor: '#3085d6',
//       cancelButtonColor: '#d33',
//       confirmButtonText: 'Yes, delete it!'
//     }).then((result) => {
//       if (result.isConfirmed) {
const deleteProduct = async (id) => {
  const response = await del(`/deleteProduct/${id}`)
  fetchProducts();
}
onMounted(() => {
  fetchProducts();
});
</script>
<template>
  <div class="bg-gray-50 h-max px-[54px] pb-[4px]">
    <!-- Title Div start -->
    <div class="flex justify-between flex-col md:flex-row">
      <div class="text-[32px]  text-blue-53 font-['Poppins'] font-semibold">Product Management</div>
      <div class=" text-blue-53 text-2xl ">
        <button @click="showAddProductDialog"
          class="cursor-pointer font-['Poppins'] py-2 px-4 block text-base font-medium bg-blue-50 text-white w-full text-center rounded hover:bg-blue-52">+
          Add New Product
        </button>
      </div>
    </div>
    <ProductModal v-if="productDialog" />
    <!-- Product List Start -->
    <div class="grid grid-col-1 lg:grid-cols-2 gap-x-[55px] gap-y-[24px] mt-[82px]">
      <div v-for="product in products" :key="product.id"
        class="flex flex-row items-center gap-[24px] bg-[white] rounded-[9px] p-[24px] shadow-4x1">
        <img :src="`${getImageUrl()}${product.image}`" class="w-[78px] h-[78px]" />
        <h2 class="text-[20px] font-semibold text-[#083D77]">
          {{ product.name }}
        </h2>

        <button @click="showUpdateProductDialog(product)">
          <IconEdit />
        </button>
        <button @click="deleteProduct(product.id)">
          <IconDelete />
        </button>
      </div>
    </div>
    <!-- Product List End -->
  </div>
</template>


