<template>
    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12.3303 0.91207C11.95 0.616202 11.4819 0.455566 11 0.455566C10.5181 0.455566 10.05 0.616202 9.66968 0.91207L0.587011 7.9754C-0.227656 8.61132 0.220844 9.91674 1.25326 9.91674H2.33334V18.5834C2.33334 19.158 2.56162 19.7091 2.96795 20.1155C3.37427 20.5218 3.92538 20.7501 4.50001 20.7501H8.83334V14.2501C8.83334 13.6754 9.06162 13.1243 9.46795 12.718C9.87428 12.3117 10.4254 12.0834 11 12.0834C11.5746 12.0834 12.1257 12.3117 12.5321 12.718C12.9384 13.1243 13.1667 13.6754 13.1667 14.2501V20.7501H17.5C18.0746 20.7501 18.6257 20.5218 19.0321 20.1155C19.4384 19.7091 19.6667 19.158 19.6667 18.5834V9.91674H20.7468C21.7781 9.91674 22.2288 8.61132 21.413 7.97649L12.3303 0.91207Z"
            fill="#00ABE4" />
    </svg>
</template>