<template>
    <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M20.8869 16.4027C21.2041 16.4038 21.5207 16.4307 21.8334 16.483V3.53351C21.832 2.76252 21.5229 2.02363 20.9737 1.47848C20.4244 0.933337 19.6797 0.62632 18.9029 0.625H3.09716C2.32035 0.626345 1.57587 0.933343 1.02661 1.47848C0.477352 2.02362 0.168017 2.76252 0.166687 3.53351V20.4665C0.168043 21.2375 0.477358 21.9766 1.02661 22.5217C1.57588 23.0669 2.32035 23.3737 3.09716 23.375H15.3046C14.904 21.6849 15.3052 19.9056 16.3936 18.5465C17.4819 17.1871 19.1375 16.3973 20.887 16.4029L20.8869 16.4027ZM4.42815 4.34707H17.5668C17.9859 4.34707 18.326 4.68434 18.326 5.10054C18.326 5.51652 17.9859 5.85402 17.5668 5.85402H4.42815C4.00902 5.85402 3.66898 5.51652 3.66898 5.10054C3.66898 4.68434 4.00902 4.34707 4.42815 4.34707ZM4.42815 8.94818H17.5668C17.9859 8.94818 18.326 9.28568 18.326 9.70166C18.326 10.1179 17.9859 10.4551 17.5668 10.4551H4.42815C4.00902 10.4551 3.66898 10.1179 3.66898 9.70166C3.66898 9.28568 4.00902 8.94818 4.42815 8.94818ZM4.42815 13.5444H17.5668C17.9859 13.5444 18.326 13.8819 18.326 14.2978C18.326 14.714 17.9859 15.0513 17.5668 15.0513H4.42815C4.00902 15.0513 3.66898 14.714 3.66898 14.2978C3.66898 13.8819 4.00902 13.5444 4.42815 13.5444ZM13.8875 19.6525H4.42815C4.00902 19.6525 3.66898 19.3151 3.66898 18.8991C3.66898 18.4829 4.00902 18.1456 4.42815 18.1456H13.8875C14.3066 18.1456 14.6467 18.4829 14.6467 18.8991C14.6467 19.3151 14.3066 19.6525 13.8875 19.6525Z"
            fill="#00ABE4" />
    </svg>
</template>