<template>
    <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M22.9406 5.90016C22.9558 6.12055 22.9558 6.34095 22.9558 6.56337C22.9558 13.3407 17.7964 21.1571 8.36208 21.1571V21.1531C5.57516 21.1571 2.84613 20.3588 0.5 18.8536C0.905241 18.9024 1.31251 18.9268 1.7208 18.9278C4.03037 18.9298 6.27392 18.1549 8.0909 16.7279C5.8961 16.6863 3.97146 15.2552 3.29911 13.1661C4.06795 13.3143 4.86015 13.2839 5.61477 13.0777C3.22192 12.5942 1.50041 10.4919 1.50041 8.05027C1.50041 8.02793 1.50041 8.0066 1.50041 7.98527C2.21339 8.38239 3.01168 8.60278 3.82826 8.62716C1.57455 7.12096 0.87985 4.12279 2.24081 1.77869C4.84491 4.98304 8.68708 6.93104 12.8116 7.13721C12.3982 5.35578 12.9629 3.48903 14.2955 2.23674C16.3613 0.294838 19.6103 0.394371 21.5522 2.45917C22.7009 2.23268 23.8018 1.81119 24.8094 1.21399C24.4265 2.40128 23.6251 3.40981 22.5546 4.05068C23.5713 3.93083 24.5646 3.65864 25.5 3.24324C24.8114 4.27513 23.944 5.17398 22.9406 5.90016Z"
            fill="white" />
    </svg>
</template>