<script setup>
import { useAdminStore } from "~~/stores/Admin";
import { storeToRefs } from "pinia";
const store = useAdminStore();
const { userData } = storeToRefs(store);
const { Login } = store;
const { $swal } = useNuxtApp();
const router = useRouter();

const AdminLogin = async () => {
  const res = await Login();
  console.log(res,"res of login")
  if (res?.code === 200) {
    router.push("/admin");
    $swal.fire({
      icon: "success",
      title: "Admin Login successfully!",
      showConfirmButton: true,
      timer: 2000,
    });
  }
};

useHead({
  title: "Login",
});

definePageMeta({
  middleware:["auth"]
})
</script>

<template>
  <section>
    <div class="font-Poppins">
      <h1
        class="flex justify-center items-center  text-custom-blue font-bold text-[35px] md:text-[48px] h-[106px] font-[poetsen-one-regular] leading-[57px]"
      >
        Likes4u
      </h1>

      <div
        class="flex flex-col md:flex-row justify-center items-center bg-[#00abe41a] py-[100px] md:py-[176px] rounded-lg"
      >
        <form
          @submit.prevent="AdminLogin"
          class="bg-[white] rounded px-[32px] py-[32px] shadow-custom"
        >
          <h2
            class="text-center text-[25px] md:text-[36px] font-bold text-nDark-blue px-[40px] md:px-[102px] md:py-[24px]"
          >
            Login To <span class="text-custom-blue font-[poetsen-one-regular]">Likes4u</span>
          </h2>
          <hr class="w-full mx-auto border-[#00abe41a] rounded" />
          <div class="flex flex-col justify-center pt-[48px] pb-[24px]">
            <label
              for="email"
              class="text-[16px] font-medium text-nDark-blue mb-[8px]"
              >Email</label
            >
            <input
              v-model="userData.email"
              name="email"
              id="email"
              type="email"
              class="rounded border-[1px] border-nDark-blue py-[12px] px-[12px]"
            />
          </div>
          <div class="flex flex-col justify-center pt-[24px]">
            <label
              for="password"
              class="text-[16px] font-medium text-nDark-blue mb-[8px]"
              >Password</label
            >
            <input
              v-model="userData.password"
              name="password"
              id="password"
              type="password"
              class="rounded border-[1px] border-nDark-blue py-[12px] px-[12px]"
            />
          </div>
          <button
            type="submit"
            class="text-center hover:bg-blue-def bg-custom-blue rounded text-[white] text-[16px] w-full mt-[48px] p-4 font-medium md:leading-[19.87px]"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </section>
</template>
