
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poetsen-one-regular';
  src: url('../fonts/PoetsenOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}