<script setup>
import { post } from '../composables/api';
import { useRouter } from 'vue-router'
import IconHome from '../components/icons/IconHome.vue';
import IconProduct from '../components/icons/IconProduct.vue';
import IconOrder from '../components/icons/IconOrder.vue';
import IconLogout from '../components/icons/IconLogout.vue';

const router = useRouter();
const logoutAdmin = async () => {
    const response = await post('/logout')
    localStorage.setItem("admin-info", "null")
    router.push({ path: '/login' });
};
</script>
<template>
    <header class="sticky top-0">
        <nav class="bg-white border-gray-200 px-[54px] py-[24px]">
            <div class="flex flex-wrap justify-between items-center">
                <div class="flex justify-start items-center">
                    <a href="https://likes4u.co/"
                        class="self-center text-5xl font-['poetsen-one-regular'] font-semibold text-blue-50">Likes4u</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- End navbar -->
    <!-- Siderbar Start -->
    <aside id="logo-sidebar" class="fixed left-0 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar">
        <div class="h-full  overflow-y-auto bg-blue-53">
            <ul class="py-[56.17px] ">
                <router-link to="/admin">
                    <li
                        class=" text-[white] font-['Poppins'] text-base font-normal flex  pl-[56.17px] py-[19px] gap-[32.17px] hover:bg-blue-54 hover:text-blue-50 hover:w-full hvoer:h-[64px]">
                        <IconHome />Home
                    </li>
                </router-link>
                <router-link to="/admin/product">
                    <li
                        class="text-[white]  font-['Poppins'] text-base font-normal flex pl-[56.17px] py-[19px] gap-[32.17px] hover:bg-blue-54 hover:text-blue-50 hover:w-full ">
                        <IconProduct />Product Management
                    </li>
                </router-link>
                <router-link to="/admin/order">
                    <li
                        class="text-[white] font-['Poppins'] text-base font-normal flex  pl-[56.17px] py-[19px] gap-[32.17px] hover:bg-blue-54 hover:text-blue-50 hover:w-full ">
                        <IconOrder /> Order Management
                    </li>
                </router-link>
                <li
                    class="text-[white] font-['Poppins'] text-base font-normal flex  pl-[56.17px] py-[19px] gap-[32.17px] hover:bg-blue-54 hover:text-blue-50 hover:w-full ">
                    <button @click="logoutAdmin" class="flex">
                        <IconLogout /><span class="ml-3 font-['Poppins'] text-base font-normal">Logout</span>
                    </button>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Side bar end -->
    <div class=" sm:ml-64  ">
        <div class="pt-[42px] rounded-lg  bg-gray-50 h-max md:h-[100vh]">
            <RouterView></RouterView>
        </div>
    </div>
</template>
    