<script setup>
useHead({
  title: "Like4U",
});
</script>

<template>
  <nuxt-layout>
    <NuxtPage />
  </nuxt-layout>
</template>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
</style>
