<template>
  <section class="font-bold bg-blue-54 font-['Poppins']" id="home">
    <div class="mx-auto flex py-[40px] md:px-[120px] md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="text-[50px] leading-[60px] md:text-[64px] md:leading-[79.48px] text-blue-53">
          Rank Your Social Media Account With
          <a href="https://likes4u.co/" class="text-blue-50"> Likes4u</a>
        </h1>
        <div class="flex justify-center">
          <button
            class="flex items-center mt-[25px] lg:mt-[48px] mx-auto justify-center bg-blue-50 text-[white] w-[189px] h-[48px] hover:bg-blue-def rounded text-[16px] font-medium">
            Learn More
          </button>
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-1/8 py-6 px-4 max-sm:hidden">
        <img class="object-cover object-center rounded" alt="Home Image" src="/images/home.png" />
      </div>
    </div>
  </section>
</template>
