<script setup>
import { storeToRefs } from 'pinia'
import Swal from 'sweetalert2';
import { useOrderStore } from '../store/order'
import { getImageUrl } from '../composables/image';
import { getApiPath } from '../composables/apiroute';
import IconArrow from './icons/IconArrow.vue';
import IconClose from './icons/IconClose.vue';
import { ref } from 'vue'
const isopen = ref(false);
const orderStore = useOrderStore()
const { selectedProduct, getSelectedPrice } = storeToRefs(orderStore)
const { toggleOrderDialog, setSelectedProduct, setSelectedPrice } = orderStore;
const closeBuyProductDialog = () => {
  setSelectedProduct(null);
  toggleOrderDialog()
}
const page_url = ref('')
const first_name = ref('')
const last_name = ref('')
const email = ref('')

// Place order api call
const sendOrder = async () => {
  console.log(email.value)
  if (page_url.value === '' || first_name.value === '' || last_name.value === '' || email.value === '') {
    Swal.fire("Please Enter All Information")
  }
  else {
    const url = `${getApiPath()}/place-order?page_url=${page_url.value}
    &first_name=${first_name.value}&last_name=${last_name.value},
    &email=${email.value}&product_id=${selectedProduct.value.id}
    &price_id=${getSelectedPrice.value.id}`
    window.location.href = url;
  };
}
</script>
<template>
  <section class="modal-overlay overflow-x-hidden overflow-y-auto z-10">
    <div class="md:w-[634px] h-[64px] mx-auto font-[Poppins] py-[20px] md:py-0 md:mt-10">
      <div class="flex md:flex-row justify-between bg-[#E9F1FA] px-[40px] py-[12px] sticky shadow-sm rounded-t-xl">
        <h3 class="font-semibold text-[22px] text-[#083D77] md:text-center">
          Check Out
        </h3>
        <div class="flex item-center modal">
          <IconClose @click="closeBuyProductDialog()" />
        </div>
      </div>
      <form @submit.prevent="placeOrder" class="flex flex-col px-[40px] bg-[#ffffff] shadow-shadow-form rounded-b-xl">
        <label for="name" class="font-[16px] mt-[20px] mb-[10px] text-[#00ABE4]">Please Provide Page Link</label>
        <input v-model="page_url" type="text"
          class="border-[1px] md:w-1/2 rounded-md border-[#00abe466] py-[8px] focus:outline-none px-2" />

        <div
          class="flex flex-col md:flex-row justify-between items-center mt-[24px] py-[13px] px-[24px] rounded shadow-3xl">
          <div class="basis-3/12">
            <img :src="`${getImageUrl()}${selectedProduct?.image}`" class="w-[78px] h-[78px]" />
          </div>
          <div class="flex flex-col md:basis-3/6">
            <label for="" class="text-[16px] text-[#00ABE4] pb-[60px]">
              {{ selectedProduct.name }}</label>
            <div name="quantity" id="quantity"
              class="py-[10px] px-[10px] border border-[#00ABE4B2] rounded absolute mt-10 bg-[white]">
              <div @click="isopen = !isopen" selected value=""
                class="font-normal text-[16px] text-[#083D77] flex flex-col cursor-pointer relative lg:w-[259px]">
                {{ getSelectedPrice?.name || 'Select Quantity' }}
                <a v-show="isopen" class="block" v-for="price in selectedProduct?.prices"
                  @click="setSelectedPrice(price)">
                  {{ price.name }}
                  <hr>
                </a>
              </div>
            </div>
          </div>
          <div class="basis-3/12 text-right font-semibold text-[32px] text-[#083D77]">
            $ {{ getSelectedPrice?.amount }}
          </div>
        </div>
        <div class="pt-[48px]">
          <h3 class="text-[22px] text-[#083D77] font-semibold">
            Credit Card Details
          </h3>
          <p class="text-[#00ABE4B2] font-light text-[15px] pt-[6px]">
            Please enter your Credit Card Details
          </p>
          <div class="flex flex-col md:flex-row md:justify-between pt-[24px] pb-[24px]">
            <input v-model="first_name" type="text" id="firstname" placeholder="FirstName"
              class="rounded-md border-[1px] mb-5 md:mb-0 md:mr-[9px] md:w-full border-[#00abe466] py-[8px] px-[8px] focus:outline-none" />
            <input v-model="last_name" type="text" name="" id="lastname" placeholder="Lastname"
              class="rounded-md border-[1px] w-full border-[#00abe466] py-[8px] px-[8px] focus:outline-none" />
          </div>
          <input required v-model="email" type="email" placeholder="Email"
            class="w-full rounded-md border-[1px] border-[#00abe466] py-[8px] px-[8px] mb-[24px] focus:outline-none" />
          <div class="text-center">
            <button @click="sendOrder"
              class="text-lg mb-2 font-['Poppins'] bg-blue-50 rounded hover:bg-blue-52 py-2 px-8 text-white">
              Pay & Get
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>
<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000c7;
}
</style>
