<script setup>
import { ref } from 'vue';
import HamburgerIcon from './icons/HamburgerIcon.vue';
const showMenu = ref(false);
</script>
<template>
  <div class="border-b border-blue-50 sticky top-[0px] z-[1] bg-white">
    <nav class=" px-[40px] md:px-[120px] w-full  mx-auto md:flex md:justify-between md:items-center ">
      <div class="flex items-center justify-between ">
        <a href="https://likes4u.co/"
          class=" text-[32px] lg:text-9xl pt-[49px] pb-[9px] font-bold font-['poetsen-one-regular'] text-blue-50 hover:text-blue-52 ">
          Likes4u
        </a>
        <!-- Mobile menu button -->
        <div @click="showMenu = !showMenu" class="flex md:hidden">
          <button type="button" class=" text-blue-50 hover:text-blue-52 mt-[40px] ml-[8px] flex-wrap outline-0">
            <HamburgerIcon />
          </button>
        </div>
      </div>
      <!-- Mobile Menu open -->
      <ul :class="showMenu ? 'flex' : 'hidden'"
        class="flex-col md:flex pb-3 gap-[7px] md:pt-[68px] md:pb-[28px] md:flex-row md:items-center">
        <a href="#home">
          <li
            class="font-['Poppins'] lg:pr-[24px] md:pr-[20px] md:pl-[24px] font-medium text-base  text-gray-400 hover:text-blue-50 hover:underline">
            Home
          </li>
        </a>
        <a href="#services">
          <li class="font-['Poppins'] pr-[24px] font-normal text-base text-gray-400 hover:text-blue-50 hover:underline">
            Services
          </li>
        </a>
        <a href="#about">
          <li id=""
            class="font-['Poppins']  pr-[80px] font-normal text-base  text-gray-400 hover:text-blue-50 hover:underline">
            About
          </li>
        </a>
        <li>
          <a href="#services">
            <button
              class="font-medium text-base font-['Poppins']  bg-blue-50 px-2 py-2 md:w-[189px] md:h-[48px] lg:px-[60px] lg:py-[14px] rounded hover:bg-blue-52 text-white">
              Buy Now
            </button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

