<script setup>
import About from './../components/About.vue';
import Footer from './../components/Footer.vue';
import Home from './../components/Home.vue';
import NavBar from './../components/NavBar.vue';
import Services from './../components/Services.vue';
</script>
<template>
  <NavBar></NavBar>
  <Home></Home>
  <Services></Services>
  <About></About>
 <Footer></Footer>
</template>

