<script setup>
import { useAdminStore } from "~~/stores/Admin";
import { storeToRefs } from "pinia";
const store = useAdminStore();
const { currentUser } = storeToRefs(store);
const { $swal } = useNuxtApp();
const { LogOut } = store;

const showMobileMenu = ref(false);
const router = useRouter();
const AdminLogOut = async () => {
  const res = await LogOut();
  console.log(res,"admin logout")
  if (res?.code === 200) {
    $swal.fire({
      icon: "success",
      title: "Admin Logout successfully!",
      showConfirmButton: false,
      timer: 2000,
    });
  }

  router.push("/login");
};
</script>

<template>
  <div class="flex flex-col h-full font-Poppins">
    <div
      class="sticky top-0 py-[24px] h-[106px] px-[54px] shadow-sm shadow-gray bg-[white] flex flex-row justify-between"
    >
      <h1
        class="text-[#00ABE4] text-[48px] font-normal leading-[57.6px] font-[poetsen-one-regular]"
      >
        Likes4u
      </h1>
      <!-- Hamburger icon -->
      <div
        @click="showMobileMenu = !showMobileMenu"
        class="space-y-2 md:hidden relative my-auto cursor-pointer"
      >
        <icon name="radix-icons:hamburger-menu" class="text-[#00ABE4]" />
      </div>
      <MobileMenuAdmin
        class="absolute top-[106px] left-0 w-full"
        v-if="showMobileMenu"
      />
    </div>

    <div class="flex flex-row h-auto">
      <div
        class="bg-nDark-blue flex-col overflow-y-auto md:min-w-[353px] hidden md:block"
      >
        <!-- h-screen--->
        <!--- Sidebar content -->

        <div class="flex flex-grow py-[52px]">
          <ul class="flex flex-col mx-auto gap-[37px]">
            <li class="group">
              <NuxtLink
                to="/admin"
                class="flex items-center py-[19px] px-[41px] text-[white] hover:bg-gray-section"
              >
                <icon
                  name="ant-design:home-filled"
                  class="icon text-[24px] h-[24px] w-[24px] mr-[32px] text-[white] group-hover:text-[#00ABE4]"
                />

                <span
                  class="flex-1 ml-3 text-[18px] font-medium whitespace-nowrap group-hover:text-[#00ABE4]"
                  >Home</span
                >
              </NuxtLink>
            </li>
            <li class="group">
              <NuxtLink
                to="/admin/product"
                class="flex items-center py-[19px] px-[41px] text-[white] hover:bg-gray-section"
              >
                <icon
                  name="majesticons:noteblock-text"
                  class="icon text-[24px] h-[24px] w-[24px] mr-[32px] text-[white] group-hover:text-[#00ABE4]"
                />
                <span
                  class="flex-1 ml-3 text-[18px] font-medium whitespace-nowrap group-hover:text-[#00ABE4]"
                  >Product Management</span
                >
              </NuxtLink>
            </li>
            <li class="group">
              <NuxtLink
                to="/admin/order"
                class="flex items-center py-[19px] px-[45px] text-[white] hover:bg-gray-section"
              >
                <icon
                  name="fluent:text-box-settings-24-filled"
                  class="icon text-[24px] h-[24px] w-[24px] mr-[32px] text-[white] group-hover:text-[#00ABE4]"
                />
                <span
                  class="flex-1 ml-3 text-[18px] font-medium whitespace-nowrap group-hover:text-[#00ABE4]"
                  >Order Management</span
                >
              </NuxtLink>
            </li>
          </ul>
        </div>

        <!--  Logout button -->
        <div
          class="flex flex-wrap items-center h-16 px-[45px] hover:bg-gray-section group"
        >
          <icon
            name="majesticons:logout-half-circle"
            :rotate="2"
            class="icon text-[24px] h-[24px] w-[24px] mr-[32px] text-[white] group-hover:text-[#00ABE4]"
          />
          <button class="px-4 py-2 bg-red-500 text-[white] rounded">
            <button
              class="group-hover:text-[#00ABE4] text-[18px] font-normal"
              @click="AdminLogOut"
            >
              Logout
            </button>
          </button>
        </div>
      </div>

      <div class="flex flex-grow flex-col h-auto overflow-y-auto">
        <slot />
      </div>
    </div>
  </div>
</template>

<style scoped>
.box:hover {
  background-color: aliceblue;
  color: #00abe4;
}

.box:hover .icon {
  color: #00abe4;
}
</style>
