<script setup>
const AboutList = [
  {
    name: "Facebook",
  },
  {
    name: "Instagram",
  },
  {
    name: "Twitter",
  },
  {
    name: " LinkedIn",
  },
  {
    name: "Youtube",
  },
  { name: "TikTok" },
];
</script>

<template>
  <section id="about">
    <div class="w-full min-h-screen mt-[30px]">
      <h2
        class="text-center text-[30px] md:text-[40px] text-nDark-blue font-bold font-Poppins md:leading-[49.68px] md:mt-[54px] mt-[20px] md:mb-[59px]"
      >
        About Us
      </h2>

      <div class="flex flex-col md:flex-row md:px-[120px] px-[40px]">
        <div class="flex justify-center items-center md:w-1/2">
          <img
            src="/images/Illustration.svg"
            alt="Image"
            class="w-[400px] h-[400px] md:h-[519px] md:w-[521px]"
          />
        </div>
        <div class="flex flex-col md:w-1/2">
          <div>
            <p
              class="text-[16px] text-nDark-blue font-normal leading-[19.87px] md:mt-[68px]"
            >
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries,
            </p>
          </div>
          <h3
            class="md:mt-[68px] mt-[20px] text-[20px] font-bold text-nDark-blue"
          >
            We Deal With
          </h3>
          <div
            class="grid w-full grid-cols-1 gap-3 md:grid-cols-2 xl:grid-cols-3 mt-[32px]"
          >
            <button
              v-for="items in AboutList"
              :key="items"
              class="border-solid border-[1px] border-nDark-blue rounded font-medium text-nDark-blue text-[16px] px-6 py-2 hover:bg-blue-def hover:text-[white]"
            >
              {{ items.name }}
            </button>
          </div>

          <button
            class="flex items-center justify-center bg-custom-blue text-[white] w-full py-[16px] mt-[20px] md:mt-[68px] hover:bg-blue-def rounded text-[16px] font-medium"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </section>
</template>
