<template>
  <section>
    <footer class="bg-nDark-blue min-h-full mt-3">
      <div
        class="container px-5 py-8 mx-auto flex flex-col items-center md:flex-row"
      >
        <div class="basis-1/5 text-center">
          <span
            class="pt-2 font-bold text-[35px] md:text-[48px] text-[white] font-[poetsen-one-regular] cursor-pointer"
          >
            Likes4u</span
          >
        </div>
        <div
          class="basis-3/5 block border-b-[1px] border-dashed w-full border-custom-blue justify-center"
        ></div>
        <div class="basis-1/5 justify-center">
          <ul class="flex gap-[40px] mx-5 my-4 cursor-pointer">
            <li>
              <Icon
                name="mdi:linkedin"
                class="h-[25px] w-[25px] text-[white]"
              />
            </li>
            <li>
              <Icon
                name="mdi:facebook"
                class="h-[25px] w-[25px] text-[white]"
              />
            </li>
            <li>
              <Icon name="mdi:twitter" class="h-[25px] w-[25px] text-[white]" />
            </li>
            <li>
              <Icon
                name="ant-design:google-plus-circle-filled"
                class="h-[25px] w-[25px] text-[white]"
              />
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </section>
</template>
