<script>
</script>


<template>
  <section class="font-bold bg-gray-section font-Poppins" id="main">
    <div
      class="container mx-auto flex md:px-[120px] md:py-[130px] md:flex-row flex-col mb-8 items-center"
    >
      <div
        class="lg:flex-grow md:w-1/2 flex flex-col md:items-start md:text-left items-center text-center px-2"
      >
        <h1 class="text-[36px] md:text-[64px] text-nDark-blue ">
          Rank Your Social Media Account With
          <span class="text-custom-blue"> Likes4u</span>
        </h1>
        <div class="flex justify-center">
          <button
            class="ml-4 flex items-center mx-auto justify-center bg-custom-blue text-[white] w-[189px] h-[48px] hover:bg-blue-def rounded text-[16px] font-medium"
          >
            Learn More
          </button>
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-1/8 py-6 px-4">
        <img
          class="object-cover object-center rounded hidden md:block"
          alt="hero"
          src="/images/Group-60.png"
        />
      </div>
    </div>
  </section>
</template>
