<script setup>
 

</script>


<template>
  <div>
    <nav class="bg-[#083D77] w-full md:hidden">
      <div class="pt-[20px] flex flex-col px-[36px] text-left gap-y-[10px] cursor-pointer">
        
 <Nuxtlink to="/admin" class="flex items-center py-[18px]   hover:bg-gray-section w-full">
           <icon
                name="ant-design:home-filled"
                class="icon text-[24px] mr-[32px] text-[#ffff]"
              />
          <span class="text-[white] font-normal text-[18px]">Home</span>
        </Nuxtlink>
        
       
         <Nuxtlink to="/admin/product" class="flex items-center  py-[18px] hover:bg-gray-section w-full">
          <icon
                name="majesticons:noteblock-text"
                class="icon text-[24px] mr-[32px] text-[#ffff]"
              />
          <span class="text-[white] font-normal text-[18px]">Product Management</span>
        </Nuxtlink>
      
        <Nuxtlink to="/admin/order" class="flex items-center py-[18px]  hover:bg-gray-section w-full">
        <icon
                 name="fluent:text-box-settings-24-filled"
                class="icon text-[24px] mr-[32px] text-[#ffff]"
              />
          <span class="text-[white] font-normal text-[18px]">Order Managment</span>
        </Nuxtlink>
      </div>
      <div class="flex items-center">
          <icon
                 name="majesticons:logout-half-circle" :rotate="2"
                class="icon text-[24px] mr-[32px] text-[#ffff]"
              />
        <button class="w-full py-3 text-left hover:bg-red-500">Logout</button>
      </div>
    </nav>
  </div>
</template>

