<script>
</script>

<template>
    <div
        class=" absolute
         bg-[white] flex flex-col gap-y-[14px] pb-[20px] px-[18px]  md:hidden border-b border-custom-blue  "
      >
        <NuxtLink
          to="#main"
          class="text-blue-def font-medium py-[4px] px-[4px] hover:rounded    hover:bg-[#083D77] hover:text-[white]"
          >Home</NuxtLink
        >
        <NuxtLink to="#services" class="text-blue-def font-medium py-[4px] px-[4px] hover:rounded  hover:bg-[#083D77] hover:text-[white]"
          >Services</NuxtLink
        >
        <NuxtLink to="#about" class="text-blue-def font-medium py-[4px] px-[4px] hover:rounded   hover:bg-[#083D77] hover:text-[white]">
          About</NuxtLink
        >

        <a
          href="#services"
          class="space-y-[80px] font-medium inline-flex bg-custom-blue text-[white] px-[20px] py-[10px]   focus:outline-none hover:bg-blue-def rounded-[4px]"
        >
          <span class="flex items-center justify-center mx-auto">Buy Now</span>
        </a>
       
        
    </div>
</template>

<style>

</style>