<script setup>
const HomeMenuToggle = ref(false);
</script>

<template>
  <nav
    class="mx-auto border-[sky-900] sticky top-0 bg-[white] border-b-[1px] border-custom-blue z-10"
  >
    <!-- flex container-->
    <div
      class="md:flex items-end h-[90px] md:h-[116px] justify-between md:px-[120px]"
    >
      <!--logo-->
      <div class="text-custom-blue cursor-pointer flex flex-row items-center">
        <div
          class="pt-[18px] md:pt-[49px] font-normal px-[20px] pb-[9px] text-[35px] md:text-[48px] font-[poetsen-one-regular]"
        >
          Likes4u
        </div>
        <div
          @click="HomeMenuToggle = !HomeMenuToggle"
          class="space-y-2 h-[20px] w-[20px] absolute top-[30px] right-[36px] md:hidden my-auto cursor-pointer"
        >
          <icon name="radix-icons:hamburger-menu" />
        </div>
      </div>

      <!-- Nav items-->
      <div></div>
      <div
        class="md:flex items-center justify-evenly pt-[68px] pb-[28px] space-x-[24px] hidden font-Poppins "
      >
        <NuxtLink
          to="#main"
          class="text-blue-def font-medium hover:text-[#00ABE4] hover:border-b-2"
          >Home</NuxtLink
        >
        <NuxtLink to="#services" class="text-blue-def font-medium hover:text-[#00ABE4] hover:border-b-2"
          >Services</NuxtLink
        >
        <NuxtLink to="#about" class="text-blue-def font-medium hover:text-[#00ABE4] hover:border-b-2">
          About</NuxtLink
        >

        <a
          href="#services"
          class="space-y-[80px] font-medium inline-flex bg-custom-blue text-[white] w-[189px] h-[48px] focus:outline-none hover:bg-blue-def rounded-[4px]"
        >
          <span class="flex items-center justify-center mx-auto">Buy Now</span>
        </a>
      </div>
      <MobileMenuHome v-if="HomeMenuToggle" class="relative" />
    </div>
    <!--Button-->
  </nav>
</template>
<style></style>
