<script setup>
import { useProductStore } from "~~/stores/products";
import { storeToRefs } from "pinia";
const emit = defineEmits(["close-modal"]);
const store = useProductStore();
const { selectedProduct } = storeToRefs(store);
const { AddProduct, UpdateProduct, getProductsList } = store;

const { $swal } = useNuxtApp();

const addFeature = () => {
  selectedProduct.value.features.push("");
};

const removeFeature = (index) => {
  if (selectedProduct.value.features.length > 1) {
    selectedProduct.value.features.splice(index, 1);
  }
};

const UpdateProductvalue = async () => {
  const response = await UpdateProduct();
  if (response && response.code === 200) {
    $swal.fire({
      icon: "success",
      title: "Product updated successfully!",
      showConfirmButton: true,
    });
  }
  emit("close-modal");
};

const addPrice = () => {
  selectedProduct.value.prices.push({
    name: null,
    amount: null,
    product_id: null,
    api_service_id: null,
    api_quantity: null,
    strip_price_id: null,
  });
};

const removePrice = (index) => {
  if (selectedProduct.value.prices.length > 1) {
    selectedProduct.value.prices.splice(index, 1);
  }
};

const AddProductApi = async () => {
  try {
    const response = await AddProduct();

    if (response && response.code === 200) {
      $swal.fire({
        icon: "success",
        title: "Product added successfully!",
        showConfirmButton: true,
      });
      emit("close-modal");
    } else {
      $swal.fire({
        icon: "error",
        title: "Error",
        text: Object.values(Object.values(response.data.message))[0][0],
      });
    }
  } catch (error) {
    $swal.fire({
      icon: "error",
      title: "Error",
      text: error.message,
    });
  }
  getProductsList();
};

const convertbase64 = (event) => {
  let fileInput = event;
  let file = fileInput.target.files[0];
  // Create a FileReader object
  let reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = () => {
    selectedProduct.value.image_data = reader.result;
  };
};
</script>

<template>
  <div
    class="modal-overlay font-Poppins overflow-x-hidden overflow-y-auto p-[20px]"
  >
    <div class="modal">
      <div
        class="close flex flex-row justify-between items-center px-[40px] py-[10px] bg-gray-light rounded-t-[10px]"
      >
        <h2
          v-if="selectedProduct.id == null"
          class="text-[22px] text-[#083D77] font-semibold"
        >
          Add Product
        </h2>
        <h2
          v-else-if="selectedProduct.id !== null"
          class="text-[22px] text-[#083D77] font-semibold"
        >
          Update Product
        </h2>
        <iconsClose @click="$emit('close-modal')" />
      </div>
      <div class="flex flex-col md:flex-row px-[20px] pt-[10px] mr-[10px]">
        <form class="px-3">
          <div class="flex flex-wrap -mx-3">
            <div class="w-full lg:w-1/2 lg:pr-3 mb-6 md:mb-0">
              <label class="block text-[#00ABE4] font-normal mb-2" for="file">
                Upload Product Image
              </label>
              <input
                @change="convertbase64"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 focus:outline-none focus:bg-white"
                id="file"
                type="file"
              />
            </div>

            <div class="w-full lg:w-1/2 mb-[10px]">
              <label
                class="block text-[#00ABE4] font-normal mb-2"
                for="product-name"
              >
                Enter Product Name
              </label>
              <input
                v-model="selectedProduct.name"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 focus:outline-none focus:bg-white focus:border-gray-500"
                id="product-name"
                type="text"
              />
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-[10px]">
            <div class="w-full">
              <label
                class="block text-[#00ABE4] font-normal mb-2"
                for="description"
              >
                Enter Product Description
              </label>
              <input
                id="description"
                v-model="selectedProduct.description"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                type="text"
              />
            </div>
          </div>

          <div class="gird md:grid-cols-3 -mx-3 mb-[1px] basis-1/2">
            <!--flex flex-wrap-->
            <div
              class="w-full mb-6 md:mb-3"
              v-for="(item, index) in selectedProduct.features"
              :key="index"
            >
              <label
                class="block text-[#00ABE4] font-normal mb-2"
                for="feature"
              >
                Enter Product features
              </label>

              <div class="flex flex-row w-full gap-2">
                <input
                  v-model="selectedProduct.features[index]"
                  class="block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 leading-tight focus:outline-none focus:bg-white"
                  id="feature"
                  type="text"
                />

                <span
                  @click="removeFeature(index)"
                  class="bg-[#F22501] cursor-pointer text-[white] border px-4 flex flex-col justify-center items-center rounded-md focus:outline-none focus:bg-white focus:border-gray-500"
                  id="removerow"
                >
                  -
                </span>
              </div>
            </div>

            <!--Enter Product Feature1-->
            <div class="flex flex-row w-full gap-3 mb-[10px] md:mt-[30px]">
              <span
                @click="addFeature"
                class="flex flex-row flex-1 justify-center items-center bg-[#083D77] cursor-pointer text-[white] border rounded-md py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="addfeature"
              >
                + Add Feature
              </span>
            </div>
          </div>

          <!--Enter Product Feature2-->
          <div class="  ">
            <div v-for="(items, index) in selectedProduct.prices" :key="index">
              <div class="flex flex-col lg:flex-row gap-x-[16px] -mx-3">
                <div class="w-full lg:w-1/2 mb-6 md:mb-0">
                  <label
                    class="block text-[#00ABE4] font-normal mb-2"
                    for="productprice"
                  >
                    Enter Product Price Name
                  </label>
                  <input
                    id="productprice"
                    v-model="selectedProduct.prices[index].name"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text"
                  />
                </div>
                <div class="w-full lg:w-1/2">
                  <label
                    class="block text-[#00ABE4] font-normal mb-2"
                    for="productamount"
                  >
                    Enter Product Amount
                  </label>
                  <input
                    id="productamout"
                    v-model="selectedProduct.prices[index].amount"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    type="text"
                  />
                </div>
              </div>

              <div class="flex flex-col lg:flex-row gap-x-[16px] -mx-3">
                <div class="w-full lg:w-1/2 mb-6 md:mb-0">
                  <label
                    class="block text-[#00ABE4] font-normal mb-2"
                    for="apiserviceid"
                  >
                    Enter Api Service Id
                  </label>
                  <input
                    id="apiserviceid"
                    v-model="selectedProduct.prices[index].api_service_id"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text"
                  />
                </div>
                <div class="w-full lg:w-1/2">
                  <label
                    class="block text-[#00ABE4] font-normal mb-2"
                    for="apiquantity"
                  >
                    Enter Api Quantity
                  </label>
                  <input
                    v-model="selectedProduct.prices[index].api_quantity"
                    id="apiquantity"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    type="text"
                  />
                </div>
              </div>
              <div class="flex flex-col lg:flex-row -mx-3">
                <div class="w-full flex flex-col mb-6 md:mb-0">
                  <label
                    class="block text-[#00ABE4] font-normal mb-2"
                    for="srtipeid"
                  >
                    Enter Stripe Price Id
                  </label>
                  <div
                    class="flex flex-row items-center justify-center mb-3 gap-2"
                  >
                    <input
                      v-model="selectedProduct.prices[index].strip_price_id"
                      id="stripeid"
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-[#00ABE466] rounded-md py-3 px-4 leading-tight focus:outline-none focus:bg-white"
                      type="text"
                    />
                    <button
                      @click="removePrice(index)"
                      type="button"
                      class="appearance-none py-3 px-4 bg-[#F22501] text-[white] border rounded-md focus:outline-none focus:bg-white"
                    >
                      -
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3">
              <div class="w-full mb-6 md:mb-0">
                <button
                  @click="addPrice"
                  type="button"
                  class="appearance-none block w-full bg-[#083D77] text-[white] border rounded-md py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                >
                  + Add Price
                </button>
              </div>
            </div>
          </div>
          <button
            v-if="selectedProduct.id == null"
            @click="AddProductApi"
            type="button"
            class="block w-full py-3 focus:outline-none text-[white] bg-custom-blue rounded-md mb-4 leading-tight"
          >
            Add Product
          </button>
          <button
            v-else-if="selectedProduct.id !== null"
            @click="UpdateProductvalue(selectedProduct.id)"
            type="button"
            class="block w-full py-3 focus:outline-none text-[white] bg-custom-blue rounded-md mb-4 leading-tight"
          >
            Update Product
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000d3;
}

.modal {
  background-color: white;
  height: max-content;
  margin-top: 10%;
  border-radius: 10px;
}
.close {
  cursor: pointer;
}
</style>
