<script setup>
import { storeToRefs } from "pinia";
import { useServiceStore } from "~~/stores/Service";
const { $swal } = useNuxtApp();

const store = useServiceStore();
const { selectedPrice, selectedProduct } = storeToRefs(store);
const { setSelectedPrice } = store;

const ShowDropDown = ref(false);

const page_url = ref("");
const first_name = ref("");
const last_name = ref("");
const email = ref("");

const isValidURL = function (string) {
  var res = string.match(
    /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/gi
  );
  return res !== null;
};

const placeOrder = () => {
  if (!page_url.value || !isValidURL(page_url.value)) {
    $swal.fire({
      icon: "error",
      title: "Oops...",
      text: "Please entrer valid url",
    });
    return false;
  } else if (!first_name.value) {
    $swal.fire({
      icon: "error",
      title: "Oops...",
      text: "Please provide your first name!",
    });
    return false;
  } else if (!last_name.value) {
    $swal.fire({
      icon: "error",
      title: "Oops...",
      text: "Please provide your last name!",
    });
    return false;
  } else if (!email.value) {
    $swal.fire({
      icon: "error",
      title: "Oops...",
      text: "Please provide your email!",
    });
    return false;
  }
  const url = `${getApiPath()}/place-order?page_url=${page_url.value}
    &first_name=${first_name.value}&last_name=${last_name.value},
    &email=${email.value}&product_id=${selectedProduct.value.id}
    &price_id=${selectedPrice.value.id}`;

  window.location.href = url;
};
</script>

<template>
  <section class="modal-overlay overflow-x-hidden overflow-y-auto z-10">
    <div class="md:w-[634px] h-[64px] mx-auto font-Poppins md:mt-10">
      <div
        class="flex md:flex-row justify-between bg-[#E9F1FA] px-[40px] py-[12px] sticky shadow-sm rounded-t-xl"
      >
        <h3 class="font-semibold text-[22px] text-[#083D77] md:text-center">
          Check Out
        </h3>
        <div class="flex item-center modal">
          <IconsClose class="cursor-pointer" @click="$emit('close-modal')" />
          <!-- <icon name="teenyicons:x-circle-solid"  class="text-[#083d77] h-[22px] w-[22px] cursor-pointer" @click="$emit('close-modal')"/> -->
        </div>
      </div>

      <form
        @submit.prevent="placeOrder"
        class="flex flex-col px-[40px] bg-[#ffffff] shadow-shadow-form rounded-b-xl"
      >
        <label for="name" class="font-[16px] mt-[20px] mb-[10px] text-[#00ABE4]"
          >Please Provide Page Link</label
        >
        <input
          v-model="page_url"
          type="text"
          class="border-[1px] md:w-1/2 rounded-md border-[#00abe466] py-[8px] focus:outline-none px-2"
        />

        <div
          class="flex flex-col md:flex-row justify-between items-center mt-[24px] py-[13px] px-[24px] rounded shadow-shadow-form"
        >
          <div class="basis-3/12">
            <img :src="`${getImageUrl()}${selectedProduct.image}`" />
          </div>
          <div class="flex flex-col md:basis-3/6">
            <label for="" class="text-[16px] text-[#00ABE4] pb-[60px]">{{
              selectedProduct.name
            }}</label>
            <div
              name="quantity"
              id="quantity"
              class="py-[10px] px-[26px] md:px-[10px] border border-[#00ABE4B2] rounded absolute mt-10 bg-[white]"
            >
              <div
                @click="ShowDropDown = !ShowDropDown"
                value=""
                class="font-normal text-[16px] text-[#083D77] flex flex-col cursor-pointer relative lg:w-[259px]"
              >
                {{ selectedPrice ? selectedPrice.name : "Select Quantity" }}
                <icon
                  class="absolute md:right-0 right-[-25px] h-[24px] w-[24px]"
                  name="material-symbols:arrow-drop-down-rounded"
                />
                <a
                  v-show="ShowDropDown"
                  class=""
                  v-for="price in selectedProduct.prices"
                  :key="price.id"
                  @click="setSelectedPrice(price)"
                >
                  {{ price.name }}
                </a>
              </div>
            </div>
          </div>
          <div
            class="basis-3/12 text-right font-semibold text-[32px] text-[#083D77]"
          >
            $ {{ selectedPrice?.amount }}
          </div>
        </div>
        <div class="pt-[48px]">
          <h3 class="text-[22px] text-[#083D77] font-semibold">
            Credit Card Details
          </h3>
          <p class="text-[#00ABE4B2] font-light text-[15px] pt-[6px]">
            Please enter your Credit Card Details
          </p>
          <div
            class="flex flex-col md:flex-row md:justify-between pt-[24px] pb-[24px]"
          >
            <input
              v-model="first_name"
              type="text"
              id="firstname"
              placeholder="First Name"
              class="rounded-md border-[1px] mb-5 md:mb-0 md:mr-[9px] md:w-full border-[#00abe466] py-[8px] px-[8px] focus:outline-none"
            />
            <input
              v-model="last_name"
              type="text"
              name=""
              id="lastname"
              placeholder="Last Name"
              class="rounded-md border-[1px] w-full border-[#00abe466] py-[8px] px-[8px] focus:outline-none"
            />
          </div>
          <input
            v-model="email"
            type="email"
            placeholder="Email (Optional)"
            class="w-full rounded-md border-[1px] border-[#00abe466] py-[8px] px-[8px] mb-[24px] focus:outline-none"
          />
          <div class="text-center">
            <button
              type="submit"
              class="text-center hover:bg-blue-def bg-custom-blue rounded text-[white] text-[16px] w-[158px] p-4 font-medium md:leading-[19.87px] mb-[24px]"
            >
              Pay & Get
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000c7;
}
</style>
