<script setup>
import { storeToRefs } from "pinia"; //to destructure the all values in counter.js Store
import { useServiceStore } from "~~/stores/Service";

const store = useServiceStore(); //created object of store
const {} = storeToRefs(store);
const { setSelectedProduct } = store;

const Products = ref([""]);
const FetchProducts = async () => {
  const res = await post("/getProducts");
  Products.value = res.data.products;
};

onMounted(() => {
  FetchProducts();
});

const showProductServiceMode = (product) => {
  productServiceModal.value = true;
  setSelectedProduct(product);
};

const productServiceModal = ref(false);

watchEffect(() => {
  if (process.client) {
    const body = document.body;
    if (productServiceModal.value) {
      body.classList.add("no-scroll");
    } else {
      body.classList.remove("no-scroll");
    }
  }
});
</script>

<template>
  <section id="services">
    <div class="w-full min-h-screen bg-blue-50">
      <h2
        class="text-center text-[30px] md:text-[40px] text-nDark-blue font-bold font-Poppins leading-[49.68px] mt-[54px] mb-[40px]"
      >
        Our Services
      </h2>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[25px] px-[30px] lg:px-[80px] xl:px-[120px]"
      >
        <div
          v-for="item in Products"
          :key="item.id"
          class="flex flex-col bg-white rounded-md shadow shadow-nBox-shadow w-full flex-1 px-[26px] pt-[32px] pb-[24px] lg:even:mt-[80px] lg:odd:mb-[80px]"
        >
          <img
            :src="`${getImageUrl()}${item.image}`"
            class="h-[78px] w-[78px] mx-auto"
          />

          <h3
            class="text-center leading-[27.32px] text-nDark-blue font-semibold text-[22px] mt-[32px]"
          >
            {{ item.name }}
          </h3>
          <p
            class="text-center font-light text-gray-dark opacity-50 text-[16px] leading-[19.87px] mt-[10px] \"
          >
            {{ item.description }}
          </p>
          <ul
            class="flex flex-col gap-[15px] md:text-left text-[15px] text-nDark-bluemt-[24px] leading-[22.5px] mt-[24px]"
          >
            <li
              class="flex flex-row items-center"
              v-for="feature in item.features"
              :key="feature"
            >
              <IconsCheck />
              <span class="font-normal ml-[17px]">{{ feature }}</span>
            </li>
          </ul>

          <button
            @click="showProductServiceMode(item)"
            class="text-center hover:bg-blue-def bg-custom-blue rounded text-[white] text-[16px] w-full mt-[24px] p-4 font-medium md:leading-[19.87px]"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <ServicesModal
      v-if="productServiceModal"
      @close-modal="productServiceModal = false"
    />
  </section>
</template>
<style setup>
.no-scroll {
  overflow: hidden;
}
</style>
